* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.wrapper {
    height: 100vh;
} 
.top-bar {
    width: 80%;
    height: 50px;
    margin: 20px auto; 
}
.logo {
    width: 20%;
    float: left;
}
.logo img {
    width: 150px;
    margin: 8px auto;
    cursor: pointer;
}
.menu-bar {
    width: 60%;
    float: left;
    text-align: center;
}
.menu-bar ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #000;
    margin: 15px 20px;
    padding-top: 5px;
    cursor : pointer;
}
.active,.menu-bar ul li:hover {
    border-bottom: 2px solid #2c97e4;
}
.search-box {
    width: 20%;
    float: right;
}
.input-search {
    margin: 11px auto;
    display: inline-flex;
    border-bottom: 1px solid #2c97e4;
}
.input-search input {
    float: right;
    padding: 5px;
    box-shadow: none;
    outline: none;
    border: 0;
    background: transparent;
}
.search-icon {
    color: #2c97e4;
}
.hero {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
}
.hero-text {
    width: 50%;
    height: 100%;
    float: left;
}
.hero-text h1 {
    margin: 100px 0 50px 70px;
    line-height: 40px;
    font-family: 'Dancing Script', cursive;   
}
.hero-text p {
    padding-left: 70px;
    line-height: 25px;
}
.hero-text .play-btn {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 30px 0 70px;
    vertical-align: middle;
    box-shadow: 0 0 4px 0 rgba(44,156,228,.7);
}
.hero-text span {
    display: table;
    margin: 50px 0;
}
.hero-banner {
    width: 49%;
    height: 100%;
    float: right;
    text-align: center;
}
.hero-banner img {
    width: 100%;
    margin: 100px auto;
}
.shopping-box {
    width: 150px;
    height: 200px;
    right: 0;
    top:  -80px;
    position: absolute;
    background-image: linear-gradient(#2c97e4, #d7e6fa);
    border-radius: 0 0 60px 240px;
}
.shopping-box .fas {
    font-size: 25px;
    color: #fff;
    bottom: 60px;
    right: 70px;
    cursor: pointer;
    position: absolute;
}
.social-icons {
    width: 200px;
    height: 390px;
    left: -70px;
    top: 150px;
    border-top-right-radius: 275px 310px;
    border-bottom-right-radius: 330px 630px;
    border-bottom-left-radius: 110px 345px;
    position: absolute ;
    background-image: linear-gradient(#2c97e4, #d7e6fa);
}
.social-icons ul {
    display: block;
    margin: 100px 0 0 100px;
}
.social-icons ul a {
    color: #fff;
}
.social-icons ul li {
    list-style: none;
    margin: 30px 0 0 0; 
}
.social-icons ul li .fab {
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
}