* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat; 
    font-family: 'Times New Roman', Times, serif;
}
.menu-bar {
    background: rgba(0,0,0,.5);
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff; 
}
.menu-bar ul li {
    width: 120px;
    margin: 0;
    padding: 20px;
    transition: .5s;4
}
.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}
.active,
.menu-bar ul li:hover  {
    background: #000;
    opacity: .7;
}
.menu-bar .fas,
.menu-bar .fab {
    margin: 0 3px 0 0;
}
.sub-menu-1 {
    display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgba(0,0,0,.7);
    margin: 20px 0 0 -20px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 10px;
    background: transparent;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #b2ff00;
}
.fa-angle-right {
    float: right;
}
.sub-menu-2 {
    display: none;
}
.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin: -40px 0 0 100px;
    background: rgba(0,0,0,1.0);
}