@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    margin: 0;
    padding: 0;
    background: #24252a;;
    box-sizing: border-box;
}
li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    width: 200px;
    cursor: pointer;

    /* flex-end時 space-between時コメントアウト */
    margin-right: auto;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
}
button {
    padding: 9px 25px;
    background: rgba(0, 136, 169, 1.0);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    color: rgba(0, 136, 169, 1.0);
    background: #fff;
}