* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Consolas, monospace;
    background: #dbd4bc;
}

.quotes {
    width: 100%;
    top: 50px;
    bottom: 20px;
    left: 0;
    position: absolute;
}
.quotes .article {
    display: flex;
    border-bottom: 1px dashed #ddd;
    text-align: justify;
    line-height: 1.8;
    background: #fff;
    max-width: 650px;
    font-size: 14px;
    margin: 0 auto;
    width: 80%;
    color: #333;
    transition: .5s;
}
.quotes .article:hover {
    background: rgb(245, 240, 229);
}
.quotes .article .article-left {
    width: 150px;
    height: 150px;
    margin: 0 25px 0 0;
}
.quotes .article .article-left img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.quotes .article .article-right {
    padding: 40px;
}
.quotes .article .article-right .author {
    font-size: 12px;
    color: rgb(136, 136, 136);
}
.quotes .article .article-right .author::before {
    content: "";
    display: inline-block;
    width: 20px;
    margin: 0 5px 0 0;
    border-top: 1px solid #ccc;
    bottom: 3px;
    position: relative;
}

@media (max-width: 768px) {
    .quotes .article {
        display: block;
        line-height: 1.5;
        font-size: 12px;
    }
    .quotes .article .article-left {
        width: 100%;
    }
    .quotes .article .article-right {
        padding: 20px 40px 60px 25px;
    }
}
