/* #01bfbd */
/* font-family: 'Odibee Sans', cursive; */
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #000;
    text-decoration: none;
}
.coral-color { color: coral; }
.cornflowerblue-color { color: cornflowerblue; }
.lightseagreen-color { color: lightseagreen; }
.gold-color { color: gold; }
.indianred-color { color: indianred; }

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a img {
    display: block;
    width: 30px;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
/* js */

body {
    width: 100%;
    background: #eee;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 12px 50px 0;
    border-bottom: 1px solid rgb(196, 196, 196, .5);
    background-image: linear-gradient(30deg, #01698C 0%, #01F0D9 100%);
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}
.header .logo a {
    font-size: 25px;
    font-family: 'Odibee Sans', cursive;
    font-weight: 100;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
}
.header ul {
    list-style: none;
}
.header ul li {
    display: inline-block;
    margin: 0 10px 0;
}
.header ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    transition: .5s;
    box-sizing: border-box;
    transition: .5s;
}
.header ul li a:hover {
    color: lightseagreen;
}
.arrow::after {
    content: '>';
    color:#fff;
    left: 5px;
    position: relative;
}
.header .auth-button a {
    font-size: 13px;
    text-align: center;
    width: 150px;
    height: 30px;
    margin: 0 5px 0 0;
    padding: 10px 15px;
    background: #ccc;
    border-radius: 3px;
    transition: .5s;
}
.header .auth-button .login-button  {
    color: #fff;
    background: rgba(255,255,255,0.25);
}
.header .auth-button .login-button:hover {
    opacity: .5;
}
.header .auth-button .register-button {
    color: #01bfbd;
    background: #fff;
}
.header .auth-button .register-button:hover {
    opacity: .5;
    color: #006866;
}
.navi {
    text-align: center;
    color: #01bfbd;
    width: 100%;
    margin: 50px auto 100px;
    padding: 30px 200px;
    background: #1E2022;
}
.navi h1 {
    font-size: 14px;
    font-weight: 100;
    margin: 0 0 20px 0;
}
.navi .search-form {
    display: flex;
}
.navi .search-input {
    flex: 2;
    color: #aaa;
    margin: 0 10px 0 5px;
    padding: 0 10px;
    border: none;
    border-radius: 2px;
    background: #404143;
}
.navi .search-submit {
    font-size: 13px;
    color: #fff;
    width: 120px;
    border: none;
    border-radius: 2px;
    background: #01bfbd;
    transition: .5s;
}
.navi .search-submit:hover {
    opacity: .5;
}
/* select */
.cp_ipselect {
    flex: 1;
	overflow: hidden;
    text-align: center;
    margin: 0 5px;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border-radius: 2px;
	background: #404143;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgb(100, 102, 104);
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: rgb(100, 102, 104);
}
/* select */
.contents {
    display: flex;
    justify-content: space-between;
    /* サイドバーを右する場合 */
    /* flex-direction: row-reverse; */
    width: 70%;
    margin: 0 auto 100px;
}
.contents a .more-button {
    font-size: 16px;
    text-align: center;
    width: 100%;
    color: #fff;
    margin: 0 auto 50px;
    padding: 15px;
    border-radius: 2px;
    background-image: linear-gradient(30deg, #01698C 0%, #01F0D9 100%);
    transition: .5s;
}
.contents a .more-button:hover {
    opacity: .7;
    filter: drop-shadow(1px 1px 5px rgba(70, 70, 70, 0.5));
}
.contents .left-contents {
    width: 300px;
}
.contents .left-contents .auth-button .register-button {
    display: block;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 30px 67px 25px;
    border-radius: 2px;
    background-image: linear-gradient(30deg, #01698C 0%, #01F0D9 100%);
    transition: .5s;
}
.contents .left-contents .auth-button .register-button:hover {
    opacity: .7;
    filter: drop-shadow(1px 1px 5px rgba(70, 70, 70, 0.5));
}
.contents .left-contents .auth-button .register-button .eye-catch {
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 0;
    color: #01bfbd;
    background: #fff;
    margin: 0 0 5px 0;
}
.contents .left-contents .auth-button .register-text {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
}
.contents .left-contents .auth-button .register-text::after {
    content: "";
    display: block;
    border-bottom: 7px solid rgb(146, 218, 143);
    bottom: 10px;
    position: relative;
    opacity: .5;
}
.contents .left-contents .auth-button .login-button {
    display: block;
    text-align: center;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 30px 67px 25px;
    border-radius: 2px;
    background: #404143;
    transition: .5s;
}
.contents .left-contents .auth-button .login-button:hover {
    opacity: .7;
    filter: drop-shadow(1px 1px 5px rgba(70, 70, 70, 0.5));
}
.contents .left-contents .left-contents-items {
    background: #fff;
    filter: drop-shadow(1px 1px 0 rgba(70, 70, 70, 0.1));
}
.contents .left-contents .left-contents-items .left-contents-title {
    font-size: 14px;
    font-weight: 100;
    color: #404143;
    padding: 20px;
    border-bottom: 1px solid #eee;
}
.contents .left-contents .left-contents-items .left-contents-item {
    display: flex;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.contents .left-contents .left-contents-items .left-contents-item img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin: 0 10px 0 0;
}
.contents .left-contents .left-contents-items .left-contents-item h3 {
    font-size: 13px;
    font-weight: 400;
}
.contents .left-contents .left-contents-items .left-contents-item p {
    font-size: 11px;
    font-weight: 100;
}
.contents .right-contents {
    width: 60%;
}
.contents .right-contents .right-contents-item {
    display: flex;
    width: 100%;
    height: 250px;
    text-align: left;
    margin: 0 0 50px 0;
    background: #fff;
    filter: drop-shadow(1px 1px 2px rgba(70, 70, 70, 0.3));
}
.contents .right-contents .right-contents-item img {
    width: 55%;
    height: 100%;
    object-fit: cover;
}
.contents .right-contents .right-contents-item .right-contents-item-text {
    width: 45%;
    padding: 20px;
}
.contents .right-contents .right-contents-item .right-contents-item-text .category-icon {
    font-size: 13px;
    font-family: 'Odibee Sans', cursive;
    font-weight: 300;
    text-align: center;
    color: #fff;
    width: 130px;
    margin: 0 0 10px 0;
    padding: 3px;
    background: #01bfbd;
}
.contents .right-contents .right-contents-item .right-contents-item-text h3 {
    font-size: 15px;
    font-weight: 700;
    text-align: justify;
    line-height: 25px;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #ccc;
}
.contents .right-contents .right-contents-item .right-contents-item-text h3::after {
    content: "";
    display: block;
    border-bottom: 2px solid #696969;
    width: 50px;
    top: 12px;
    position: relative;
}
.contents .right-contents .right-contents-item .right-contents-item-text h6 {
    font-size: 10px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
.contents .right-contents .right-contents-item .right-contents-item-text p {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
}
.contents .right-contents-title1,
.contents .right-contents-title2 {
    font-size: 20px;
    color: #000;
    letter-spacing: -1px;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
}
.contents .right-contents-title1::after {
    content: "TOPICS";
    display: block;
    font-size: 11px;
    font-family: 'Odibee Sans', cursive;
    letter-spacing: 1px;
    left: 2px;
    position: relative;
}
.contents .right-contents-title2::after {
    content: "NEW RECRUITS";
    display: block;
    font-size: 11px;
    font-family: 'Odibee Sans', cursive;
    letter-spacing: 1px;
    left: 2px;
    position: relative;
}
.contents .right-contents .right-contents-rec-items {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.contents .right-contents .right-contents-rec-items .right-contents-rec-item {
    width: 47%;
    background: #fff;
    filter: drop-shadow(1px 1px 2px rgba(70, 70, 70, 0.3));
    margin: 0 0 50px 0;
}
.contents .right-contents .right-contents-rec-items .right-contents-rec-item img {
    width: 100%;
}
.contents .right-contents .right-contents-rec-items .right-contents-rec-item .right-contents-rec-item-text {
    padding: 20px;
}
.contents .right-contents .right-contents-rec-items .right-contents-rec-item .right-contents-rec-item-text h3 {
    font-size: 15px;
    font-weight: 700;
    text-align: justify;
    line-height: 25px;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #ccc;
}
.contents .right-contents .right-contents-rec-items .right-contents-rec-item .right-contents-rec-item-text .category {
    font-size: 13px;
    font-family: 'Odibee Sans', cursive;
    font-weight: 300;
    margin: 0 0 10px 0;
}
.contents .right-contents .right-contents-rec-items .right-contents-rec-item .right-contents-rec-item-text h3::after {
    content: "";
    display: block;
    border-bottom: 2px solid #696969;
    width: 50px;
    top: 12px;
    position: relative;
}
.contents .right-contents .right-contents-rec-items .right-contents-rec-item .right-contents-rec-item-text h6 {
    font-size: 10px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
.contents .right-contents .right-contents-rec-items .right-contents-rec-item .right-contents-rec-item-text p {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
}