/* font-family: 'Lekton', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Lekton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #d2d5d7;
    text-decoration: none;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 100px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #6f7477;
    border-radius: 10px;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    color: #ccc;
    background: #6f7477;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 5px;
    height: px;
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #79726e;
    bottom: 50px;
    right: 0;
    position: absolute;
    transform:rotate(90deg);
}
.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #79726e;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
}
/* js */

body {
    font-family: 'Lekton', sans-serif;
    width: 100%;
    height: 100vh;
    color: #6f7477;
    padding: 50px;
    background-image: linear-gradient(90deg,#0e0f0f 0,#1f2021 30%,#2b2d2e 57%,#2d2f30 64%,#2d2f30);
}
.header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}
.header .logo a {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.header .logo a span {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 100;
    margin: 0 0 0 3px;
    top: 2px;
    position: relative;
}
.header ul {
    list-style: none;
    font-size: 0;
}
.header ul li {
    display: inline-block;
}
.header ul li a {
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 0 30px 0 0;
    transition: .5s;
}
.header ul li a:hover {
    opacity: .5;
    border-bottom: 1px solid #eee;
}
.navi {
    width: 85%;
    margin: 80px auto;
}
.navi h1 {
    font-size: 25px;
    text-align: center;
    color: #eee;
    margin: 0 0 50px 0;
}
.navi ul {
    list-style: none;
    font-size: 0;
    text-align: center;
}
.navi ul li {
    display: inline-block;
}
.navi ul li a {
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    width: 200px;
    margin: 0;
    padding: 17px 50px 15px;
    border: 1px solid #6f7477;
    border-radius: 10px;
    transition: .5s;
    box-sizing: border-box;
    transition: .5s;
}
.navi ul li a:hover {
    background: #6f7477;
}
.navi ul li .active {
    background: #6f7477;
}
.contents {
    width: 85%;
    margin: 0 auto;
}
.contents .item-count {
    font-size: 25px;
    text-align: center;
    color: #eee;
    margin: 0 0 50px 0;
}
.contents .item-count span {
    font-size: 15px;
}
.contents .items {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 0 0 50px 0;
}
.contents .items .item {
    width: 350px;
    height: 200px;
    margin: 0 0 20px 0;
}
.contents .items img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
    object-fit: cover;
}
.contents .items img:hover {
    opacity: .5;
}
.footer p {
    font-size: 10px;
    letter-spacing: 2px;
    transform: rotate(90deg);
    left: -110px;
    bottom: 200px;
    position: fixed;
}

/* @mousehover */
.mask {
	width: 100%;
	height: 100%;
	position: relative;
	bottom: 205.5px;
	left: 0;
    opacity: 0;
    border-radius: 10px;
	background: rgba(0,0,0,0.8);
	-webkit-transition:	all 0.6s ease;
	transition: all 0.6s ease;
}
.item:hover .mask {
    opacity: 1;
}
.caption {
    text-align: center;
    letter-spacing: 1px;
    padding: 25px;
}
.caption .caption-title {
    font-size: 20px;
    margin: 0 0 10px 0;
}
.caption .caption-content {
    font-size: 12px;
}
/* @end mousehover */