* {
    margin: 0;
    padding: 0;
}
body {
    background: #000;
}
.nav-bar {
    display: flex;
    padding: 2% 4%;
}
.nav-logo img {
    width: 135px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul a {
    color: #ffea00;
    text-decoration: none;
    font-size: 18px; 
}
.hero {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}
h1 {
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #ffea00;
    background: url(../img/back.png);
    background-clip: text;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    margin: 0 0 4% 0;
}
@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}
.btn {
    width: 160px;
    height: 50px;
    border: 1px solid #ffea00;
    color: #ffea00;
    margin: auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.btn p {
    font-size: 20px;
    padding: 12px 0 0 0;
    font-weight: bold;
    transition: 1s;
}
span {
    width: 80px;
    height: 80px;
    top: 80px;
    position: absolute;
    background: #ffea00;
    border-radius: 50%;
    z-index: -1;
    transition: 1s;
}
span:nth-child(1) {
    left: -20px;
    transition-delay: .1s;
}
span:nth-child(2) {
    left: 30px;
    transition-delay: .3s;
}
span:nth-child(3) {
    left: 80px;
    transition-delay: .5s;
}
span:nth-child(4) {
    left: 125px;
    transition-delay: .7s;
}
.btn:hover span {
    top: -10px;
}
.btn:hover p {
    color: #000;
    transition-delay: .5s;
}
.menu-icon {
    width: 20px;
    display: none;
}

@media (max-width: 700px) {
    .hero h1 {
        font-size: 26px;
        margin: 0 0 10% 0;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links ul {
        padding: 20px 5px;
    }
    .nav-links {
        margin: 30px 0 0 0;
    }
    .nav-logo {
        margin: 10px 0 0 10px;
    }
    .menu-icon {
        display: block;
        top: 20px;
        right: 35px;
        position: absolute;
        cursor: pointer;
    }
    #mobileMenu {
        height: 0;
        overflow: hidden;
        transition: 1s;
    }
}