/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #000;
    background: #fff;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #79726e;
    bottom: 50px;
    right: 0;
    position: absolute;
    transform:rotate(90deg);
}
.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #79726e;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
}
/* js */

body {
    width: 100%;
    overflow-x: hidden;
    background: #fff;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    width: 100%;
    padding: 60px 90px;
    background: #eee;
}
.header .logo {
    width: 90px;
}
.header .logo img {
    width: 100%;
}
.header .logo a {
    font-size: 25px;
    font-family: 'Poiret One', cursive;
    color: lightseagreen;
    text-align: center;
}
.header ul {
    list-style: none;
    top: 65px;
    left: 90px;
    position: relative;
}
.header ul li {
    display: inline-block;
    margin: 0 30px 0 0;
}
.header ul li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    transition: .5s;
    box-sizing: border-box;
    transition: .5s;
}
.header ul li a:hover {
    color: lightseagreen;
}
.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #eee;
}
.main .left-main {
    text-align: center;
    min-width: 270px;
}
.main .left-main .main-title {
    font-size: 11px;
    transform: rotate(90deg);
    margin: 220px 0;
}
.main .left-main .main-title::before {
    content: '';
    display: block;
    margin: 0 auto;
    border-top: 1px solid #000;
    width: 110px;
}
.main .left-main .slick-counter {
    font-size: 15px;
    font-weight: 100;
    color: #ccc;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.main .left-main .slick-counter .current {
    font-weight: bold;
    color: #000;
}
.main .slick { 
    width: 100%;
}
.main .slick .slick-item img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.about {
    display: flex;
    width: 100%;
    margin: 0 auto 100px;
    padding: 100px 200px;
    background: #eee;
}
.about h2 {
    width: 40%;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    width: 25%;
    margin: 0 50px 0 0;
}
.about p {
    font-size: 15px;
    line-height: 35px;
    bottom: 7px;
    position: relative;
}
.contents {
    width: 100%;
    margin: 0 auto 100px;
    padding: 0 200px;
    background: #fff;
}
.contents .content-title {
    display: flex;
    justify-content: space-between;
}
.contents .content-title h2 {
    width: 40%;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    width: 25%;
    margin: 0 50px 35px 0;
}
.contents .content-title a {
    color: #000;
}
.contents .content-title a::after {
    content: '';
    display: block;
    width: 150px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #000;
}
.contents .product-image {
    display: inline-block;
}
.contents .product-image img {
    width: 230px;
    height: 150px;
    margin: 0 10px 20px;
    object-fit: cover;
    right: 8px;
    position: relative;
}
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    margin: 50px auto 0;
    background: #000;
}
.footer .footer-contents {
    width: 75%;
    margin: 0 auto;
    color: #808080;
    padding: 40px 0;
}
.footer .footer-contents .footer-content {
    display: flex;
    justify-content: center;
}
.footer .footer-contents .footer-content .explanation{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .category{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .footer-content-title {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 15px 0;
}
.footer .footer-contents .footer-content .footer-content-comment {
    font-size: 11px;
    font-weight: 300;
}
.footer .footer-contents .footer-content .footer-content-comment ul {
    list-style: none;
}
.footer .footer-contents .footer-content .footer-content-comment ul li {
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-comment a {
    color: #808080;
    text-decoration: none;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab {
    font-size: 15px;
    color: #808080;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0;
    border: 1px solid #808080;
    border-radius: 3px;
    transition: .5s;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab:hover {
    color: #fff;
    background: #808080;
}
.footer p {
    font-size: 10px;
    text-align: center;
    padding: 50px 0 0 0;
}