/* #ce0021 */
/* font-family: 'Noto Serif JP', serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');
/* font-family: 'Old Standard TT', serif; */
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 12px;
    color: #ce0021;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border: 1px solid #ce0021;
    border-radius: 50%;
    background: #fff;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    color: #fff;
    background: #ce0021;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.single { 
    width: 100%;
}
.single img{
    width: 100%;
    border-bottom: 2px solid #ca3e5e;
}
/* js */

body {
    width: 100%;
    border-top: 2px solid #ce0021;
}
.header {
    width: 100%;
    margin: 0 auto;
}
.header .top-navi {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
}
.header .top-navi .logo {
    font-size: 20px;
    font-family: 'Noto Serif JP', serif;
    top: 20px;
    position: relative;
}
.header .top-navi .logo span {
    color: #ce0021;
}
.header .top-navi .top-navi-right {
    display: flex;
    justify-content: flex-end;
}
.header .top-navi .top-navi-right ul {
    display: flex;
    margin: 25px 0;
}
.header .top-navi .top-navi-right ul li {
    font-size: 13px;
    font-family: 'Noto Serif JP', serif;
    list-style: none;
    letter-spacing: 1px;
    margin: 0 30px 0 0;
}
.header .top-navi .top-navi-right ul li a {
    color: #000;
    transition: .5s;
}
.header .top-navi .top-navi-right ul li a:hover {
    color: #ce0021;
}
.header .cart-button {
    width: 175px;
    height: 100%;
    padding: 20px 0 0 0;
    text-align: center;
    background: #ce0021;
    transition: .5s;
}
.header .cart-button:hover {
    background: #50000d;
}
.header .cart-button a {
    font-size: 15px;
    font-family: 'Noto Serif JP', serif;
    color: #fff;
}
.header .cart-button .fas {
    font-size: 15px;
    margin: 0 5px 0 0;
}
.header .bottom-navi {
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
}
.header .bottom-navi ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 25px 0 0;
}
.header .bottom-navi ul li {
    font-size: 15px;
    font-family: 'Noto Serif JP', serif;
    list-style: none;
    letter-spacing: 1px;
    margin: 0 30px 0 0;
    padding: 0 30px 0 0;
    border-right: 1px solid #eee;
}
.header .bottom-navi ul li:first-child {
    padding: 0 30px 0 30px;
    border-left: 1px solid #eee;
}
.header .bottom-navi ul li a {
    color: #000;
    transition: .5s;
}
.header .bottom-navi ul li a:hover {
    color: #ce0021;
}
.contents {
    display: flex;
    width: 100%;
}
.contents .contents-side-bar {
    width: 325px;
    background: #eee;
    padding: 30px;
}
.contents .contents-side-bar h2 {
    font-size: 45px;
    font-family: 'Old Standard TT', serif;
    font-weight: 100;
    text-align: center;
    line-height: 45px;
}
.contents .contents-side-bar h2 div {
    font-size: 15px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    color: #ce0021;
    margin: 0 0 30px 0;
}
.contents .contents-side-bar .contents-side-bar-bigcart {
    margin: 0 0 20px 0;
    background: #fff;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}
.contents .contents-side-bar .contents-side-bar-bigcart .contents-side-bar-imagecart {
    text-align: center;
    width: 100%;
    padding: 10px 10px 5px 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.contents .contents-side-bar .contents-side-bar-bigcart .contents-side-bar-imagecart img {
    width: 35%;
    margin: 0 auto;
    border: 1px solid #a0a0a0;
}
.contents .contents-side-bar .contents-side-bar-bigcart .contents-side-bar-textcart {
    width: 100%;
    padding: 15px;
}
.contents .contents-side-bar .contents-side-bar-bigcart .contents-side-bar-textcart .info {
    display: flex;
    margin: 0 0 10px 0;
}
.contents .contents-side-bar .contents-side-bar-bigcart .contents-side-bar-textcart .info .category {
    font-size: 11px;
    color: rgb(255, 145, 0);
    text-align: center;
    width: 50px;
    margin: 0 10px 0 0;
    background: rgb(255, 236, 211);
}
.contents .contents-side-bar .contents-side-bar-bigcart .contents-side-bar-textcart .info .date {
    font-size: 10px;
    color: #696969;
}
.contents .contents-side-bar .contents-side-bar-bigcart .contents-side-bar-textcart p {
    font-size: 12.5px;
    line-height: 20px;
    color: #000;
    letter-spacing: 1px;
}
.contents .contents-side-bar .contents-side-bar-smallcart {
    display: flex;
    margin: 0 0 20px 0;
    padding: 15px 15px 10px 15px;
    background: #fff;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}
.contents .contents-side-bar .contents-side-bar-smallcart .contents-side-bar-imagecart img {
    height: 75px;
    margin: 0 10px 0 0;
    object-fit: cover;
}
.contents .contents-side-bar .contents-side-bar-smallcart .contents-side-bar-textcart {
    top: 5px;
    position: relative;
}
.contents .contents-side-bar .contents-side-bar-smallcart .contents-side-bar-textcart .info {
    display: flex;
    margin: 0 0 10px 0;
}
.contents .contents-side-bar .contents-side-bar-smallcart .contents-side-bar-textcart .info .category {
    font-size: 11px;
    color: rgb(63, 182, 63);
    text-align: center;
    width: 50px;
    margin: 0 10px 0 0;
    background: rgb(214, 238, 215);
}
.contents .contents-side-bar .contents-side-bar-smallcart .contents-side-bar-textcart .info .date {
    font-size: 10px;
    color: #696969;
}
.contents .contents-side-bar .contents-side-bar-smallcart .contents-side-bar-textcart p {
    font-size: 12.5px;
    line-height: 20px;
    color: #000;
    letter-spacing: 1px;
}
.contents .contents-main {
    width: 70%;
    background: #fff;
    margin: 0 auto;
    padding: 30px;
}
.contents .contents-main h2 {
    font-size: 45px;
    font-family: 'Old Standard TT', serif;
    font-weight: 100;
    text-align: center;
    line-height: 45px;
}
.contents .contents-main h2 div {
    font-size: 15px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    color: #ce0021;
    margin: 0 0 30px 0;
}
.contents .contents-main .new-release {
    display: flex;
    justify-content: center;
}
.contents .contents-main .new-release .new-release-item {
    text-align: center;
    width: 40%;
    height: 600px;
    margin: 0 30px;
}
.contents .contents-main .new-release .new-release-item img {
    height: 50%;
    object-fit: cover;
    margin: 0 0 15px 0;
    border: 1px solid #a0a0a0;
}
.contents .contents-main .new-release .new-release-item .book-copy,
.contents .contents-main .new-release .new-release-item p {
    text-align: left;
}
.contents .contents-main .new-release .new-release-item .book-copy {
    font-size: 25px;
    font-family: 'Noto Serif JP', serif;
    color: #ce0021;
    margin: 0 0 15px 0;
}
.contents .contents-main .new-release .new-release-item .book-copy::before {
    content: '>';
    font-size: 16px;
    color: #ce0021;
    bottom: 3px;
    position: relative;
}
.contents .contents-main .new-release .new-release-item p {
    font-size: 14px;
    font-weight: 100;
    color: #696969;
    margin: 0 0 15px 0;
}
.contents .contents-main .new-release .new-release-item .info {
    text-align: left;
    color: #696969;
}
.contents .contents-main .new-release .new-release-item .info .release-head {
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    padding: 5px 10px;
    width: 50px;
    height: 25px;
    border: 1px solid #eee;
}
.contents .contents-main .new-release .new-release-item .info .release-date {
    font-size: 12px;
    font-weight: 400;
}
.contents .contents-main .another-contents .another-contents-title {
    font-size: 25px;
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    margin: 0 0 30px 0;
}
.contents .contents-main .another-contents .another-contents-title::before {
    content: '';
    display: inline-block;
    width: 200px;
    border-top: 1px solid #ccc;
    right: 10px;
    bottom: 10px;
    position: relative;
}
.contents .contents-main .another-contents .another-contents-title::after {
    content: '';
    display: inline-block;
    width: 200px;
    border-top: 1px solid #ccc;
    left: 10px;
    bottom: 10px;
    position: relative;
}
.footer {
    text-align: center;
    padding: 50px;
    border-top: 1px solid #eee;
}
.footer p {
    font-size: 10px;
    text-align: center;
    color: #696969;
}