* {
    margin: 0;
    padding: 0;
}
.header {
    background: #6900d1;
}
.navbar {
    padding-top: 20px !important;
    box-sizing: border-box;
}
.nav-item {
    margin-left: 40px;
    margin-bottom: 10px;
}
.nav-link {
    color: #fff !important;
    font-size: 12px !important;
    padding: 0 0 5px 0 !important;
    display: unset !important;
    box-sizing: border-box;
}
.navbar-brand img {
    width: 80px;
}
.fa-bars {
    color: #fff;
    font-size: 25px !important;
}
.navbar-toggler {
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
    box-sizing: border-box;
}
.active {
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
}
.nav-link:hover {
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
}
.banner {
    margin: 8% 0 0 0;
    color: #fff;
}
.banner h1 {
    margin: 80px 0 50px;
    font-weight: 600;
    font-size: 50px;
}
.banner img {
    max-height: 450px;
    position: relative;
    left: 100px;
}
.banner a {
    padding: 12px;
    width: 150px;
    display: inline-block;
    background: #6900d1;
    text-decoration: none !important;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin: 30px 5px 0 0;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
}
.banner a:hover {
    color: #fff;
}
.express-btn {
    background: #fff !important;
    color: #000 !important;
}