/* font-family: 'Big Shoulders Text', cursive; */
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
/* font-family: 'Questrial', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
/* font-family: 'Exo 2', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
/* font-family: 'Fredericka the Great', cursive; */
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #000;
    background: #e2e0e0;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
/* js */

body {
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
    background: #000;
}
.main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,.2)),url(../img/main.jpg);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: top right;
}
.menu {
    border: 1px solid rgba(255,255,255,0.3);
    margin: 0 50px;
    padding: 50px 50px 50px;
    top: 50px;
    position: relative;
}
.menu img {
    width: 70px;
    cursor: pointer;
}
.menu ul {
    display: inline-flex;
    list-style: none;
    bottom: 19px;
    right: 0;
    position: absolute;
}
.menu ul li {
    font-family: 'Big Shoulders Text', cursive;
    cursor: pointer;
}
.menu ul li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 0 50px 20px 50px;
    border-left: 1px solid rgba(255,255,255,0.3);
}
.menu ul li a:hover {
    opacity: .5;
}
.active {
    border-bottom: 2px solid #fff;
    bottom: 2px;
    position: relative;
}
.banner-text {
    color: #fff;
    top: 15vw;
    left: 4vw;
    position: relative;
}
.banner-text h2 {
    font-size: 15px;
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    margin: 0 0 10px 0;
    letter-spacing: 1px;
}
.banner-text h1 {
    font-size: 60px;
    font-family: 'Fredericka the Great', cursive;
    line-height: 75px;
    margin: 0 0 70px 0;
    -moz-text-shadow: 0px 0px 4px rgba(43, 0, 0, 0.8);
    -webkit-text-shadow: 0px 0px 4px rgba(43, 0, 0, 0.8);
    -ms-text-shadow: 0px 0px 4px rgba(43, 0, 0, 0.8);
    text-shadow: 0px 0px 4px rgba(43, 0, 0, 0.8);
}
.banner-text h3 a {
    font-size: 13px;
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    color: #666;
    text-decoration: none;
    letter-spacing: 1px;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #fff;
    bottom: 50px;
    left: 0;
    position: absolute;
    transform:rotate(90deg);
}
.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #fff;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
}
.contents {
    padding: 150px 150px;
    background: #e2e0e0;
}
.contents .content {
    display: flex;
    justify-content: space-between;
}
.contents .content .left-content {
    width: 30%;
    padding: 20px 0 20px 20px;
    border: 1px solid #000;
}
.contents .content .left-content img {
    width: 100%;
    margin: 0 0 30px 0;
}
.contents .content .left-content h3 {
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    margin: 0 0 30px 0;
}
.contents .content .right-content {
    width: 60%;
    top: 50px;
    position: relative;
}
.contents .content .right-content h2 {
    font-size: 12px;
    font-weight: 100;
    margin: 0 0 15px 0;
}
.contents .content .right-content h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.25em;
    margin: 0 0 30px 0;
}
.contents .content .right-content h1::after {
    content: '';
    display: block;
    background: #000;
    height: 1px;
    width: 100%;
    margin: 30px 0 0 0;
}
.contents .content .right-content p {
    font-size: 14px;
    font-weight: 100;
    color: #696969;
    line-height: 1.75em;
    margin: 0 0 30px 0;
}
.contents .content .right-content a {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    padding: 50px 50px 100px 50px;
    background: #000;
}
.footer .footer-menu {
    display: flex;
    justify-content: center;
    opacity: .7;
}
.footer .footer-menu img {
    width: 70px;
    cursor: pointer;
}
.footer .footer-menu ul {
    display: inline-flex;
    list-style: none;
}
.footer .footer-menu ul li {
    margin: 0 0 0 40px;
    cursor: pointer;
}
.footer .footer-menu ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
.footer .footer-credit {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #696969;
}
.footer .footer-credit p {
    font-size: 10px;
    text-align: center;
    opacity: .7;
}