/* font-family: 'Catamaran', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #000;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
/* js */

.container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
}
.contents {
    display: block;
    width: 100%;
    /* background: #f5f5f0; */
}
.sidebar {
    width: 300px;
    min-width: 300px;
    min-height: 200vh;
    color: #fff;
    text-align: center;
    background: #db8c6c;
}
.sidebar img {
    width: 120px;
    margin: 0 0 110px 0;
}
.sidebar .booking-button a {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    color: #db8c6c;
    background: #fff;
    padding: 10px 35px;
    border-radius: 30px;
    transition: .5s;
}
.sidebar .booking-button a:hover {
    color: #fff;
    background: #da7f5b;
}
.sidebar ul {
    margin: 30px 0 120px 0;
}
.sidebar ul li {
    list-style: none;
    margin: -6px 0 0 0;
}
.sidebar ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    transition: .5s;
}
.sidebar ul li a:hover {
    opacity: .5;
}
.sidebar-item-fixed {
    position: sticky;
    margin-bottom: 0;
    top: 40px;
    z-index: 1;
}
.sidebar .social-icon {
    font-size: 22px;
}
.sidebar .social-icon i {
    margin: 0 5px;
    color: #fff;
}
.sidebar p {
    font-size:14px;
}
.main {
    width: 100%;
    background: #3d403c;
}
.main img {
    width: 100%;
    height: 520px;
    object-fit: cover;
}
.main h1 {
    font-size: 30px;
    line-height: 35px;
    color: #fff;
}
.main .inner-main {
    font-size: 12px;
    color: #fff;
    padding: 25px 20px 50px 50px;
}
.main .select-menu {
    display: inline-block;
    margin: 15px 30px 0 0;
}
.main .select-menu input,
.main .select-menu select {
    display: block;
    width: 100px;
    color: #888888;
    background: none;
    border: none;
    border-bottom: 1px solid #888888;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.main .bokking-button {
    margin: 25px 0 0 0;
}
.main .bokking-button input[type="submit"] {
    width: 235px;
    height: 50px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    background: #da7f5b;
    border-radius: 30px;
    border: none;
}
.content .room {
    text-align: center;
    margin: 100px 0 0 0;
}
.content .room h2 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #3d403c;
    margin: 0 0 50px 0
}
.content .room img {
    width: 700px;
    height: 400px;
    object-fit: cover
}
/* ------------------------------
   loopSlider
------------------------------ */
.loopSliderWrap {
	top: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
}
.loopSlider {
	margin: 0 auto;
	width: 90%;
	height: 400px;
	text-align: left;
	position: relative;
	overflow: hidden;
}
.loopSlider ul {
	float: left;
	overflow: hidden;
}
.loopSlider ul li {
	float: left;
	display: inline;
	overflow: hidden;
}
/* ------------------------------
   CLEARFIX ELEMENTS
------------------------------ */
.loopSliderWrap:after {
	content: "";
	display: none;
	clear: none;
}

.content .service-left {
    display: flex;
    justify-content: flex-start;
    margin: 50px 50px 70px;
}
.content .service-left .illust-image {
    width: 150px;
    margin: 0 40px 0 0;
}
.content .service-right {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin: 50px 50px 100px;
}
.content .service-right .illust-image {
    width: 150px;
    margin: 0 0 0 40px;
}
.footer {
    margin: 200px 0 25px 0;
    text-align: center;
}
.footer p {
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 0;
}