/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
/* js */

body {
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
}
.main {
    width: 130%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,1.0),rgba(0,0,0,.5)),url(../img/main.jpg);
    background-size: cover;
    animation: moveBg 20s infinite linear;
}
@keyframes moveBg{
    0%    { background-position: -300px 0px; }
    100%  { background-position: 0 0; }
}
.menu {
    width: 100%;
}
.menu img {
    width: 70px;
    cursor: pointer;
    top: 50px;
    left: 70px;
    position: fixed;
}
.menu ul {
    display: inline-flex;
    list-style: none;
    top: 40px;
    right: 70px;
    position: fixed;
}
.menu ul li {
    margin: 0 0 0 40px;
    cursor: pointer;
}
.menu ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
}
.menu ul li a:hover {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #fff;
    opacity: .5;
}
.banner-text {
    width: 80%;
    color: #fff;
    top: 20vw;
    left: 20vh;
    position: relative;
}
.banner-text h1 {
    font-size: 75px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow:2px 2px 2px #000;
    line-height: 80px;
    opacity: .5;
}
.banner-text p {
    font-size: 15px;
    font-weight: bold;
    text-shadow:2px 2px 2px #000;
    letter-spacing: 1px;
    margin: 30px 0 50px;
    line-height: 30px;
    opacity: .7;
}
.contents {
    width: 60%;
    margin: 150px auto;
    background: #fff;
}
.contents .service {
    display: flex;
    justify-content: space-between;
}
.contents .service h2 {
    font-size: 20px;
    width: 20%;
}
.contents .service p {
    font-size: 15px;
    line-height: 30px;
    width: 60%;
    letter-spacing: 1px;
}
.contents .news p {
    font-size: 15px;
    line-height: 30px;
    width: 60%;
    letter-spacing: 1px;
}
.contents .service .more-button a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 50%; 
    top: 110px;
    position: relative;
    transition: .5s;
}
.contents .service .more-button a:hover {
    color: #fff;
    background: #dc143c;
}
.contents .rec {
    margin: 100px auto;
}
.contents .rec img {
    width: 100%;
}
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    padding: 50px 50px 100px 50px;
    background: #000;
}
.footer .footer-menu {
    display: flex;
    justify-content: center;
    opacity: .7;
}
.footer .footer-menu img {
    width: 70px;
    cursor: pointer;
}
.footer .footer-menu ul {
    display: inline-flex;
    list-style: none;
}
.footer .footer-menu ul li {
    margin: 0 0 0 40px;
    cursor: pointer;
}
.footer .footer-menu ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
}
.footer .footer-menu ul li a:hover {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #fff;
    opacity: .5;
}
.footer .footer-credit {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #696969;
}
.footer .footer-credit p {
    font-size: 10px;
    text-align: center;
    opacity: .7;
}