@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a img {
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 50px;
    position: fixed;
    transform: rotate(-90deg);
    transition: .5s;
}
#page-top a img:hover {
    opacity: .3;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #79726e;
    bottom: 50px;
    right: 0;
    position: absolute;
    transform:rotate(90deg);
}
.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #79726e;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
}
/* js */

body {
    font-family: 'Noto Serif JP', serif;
    width: 100%;
    color: #fff;
    background: #000;
}
.main {
    text-align: center;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,1.0)),url(../img/main.jpg);
    background-position: center;
    background-size: cover;
    padding: 250px 0 0 0;
}
.main .main-title {
    color: #fff;
    font-size: 50px;
    letter-spacing: 2px;
    opacity: .6;
    margin: 0 0 35px 0;
}
.main .sub-title {
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    opacity: .6;
}
.navi-menu {
    width: 75%;
    margin: 10px auto 100px;
}
.navi-menu .inner-navi-menu {
    display: flex;
    justify-content: center;
}
.navi-menu .inner-navi-menu ul {
    list-style: none;
}
.navi-menu .inner-navi-menu ul li {
    display: inline-block;
    margin: 0 30px 85px 0;
}
.navi-menu .inner-navi-menu ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
    color: #fff;
    transition: .5s;
    box-sizing: border-box;
    transition: .5s;
}
.navi-menu .inner-navi-menu ul li a:hover {
    color: #b48d30;
}
.navi-menu .inner-navi-menu .login-button,
.navi-menu .inner-navi-menu .resister-button {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    color: #b48d30;
    width: 100px;
    height: 25px;
    margin: 0 10px 0 0;
    padding: 2px 0 0 0;
    border: 1px solid #b48d30;
    border-radius: 3px;
    transition: .5s;
}
.navi-menu .inner-navi-menu .login-button:hover,
.navi-menu .inner-navi-menu .resister-button:hover {
    color: #fff;
    background: #b48d30;
}
.navi-menu .info {
    display: flex;
}
.navi-menu .info .info-title {
    font-size: 17px;
    letter-spacing: 3px;
    -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
    margin: 0 50px 0 0;
}
.navi-menu .info .info-contents {
    width: 100%;
}
.navi-menu .info .info-contents .inner-info-contents {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;
}
.navi-menu .info .info-contents .inner-info-contents .inner-info-content-item {
    width: 30%;
    border-top: 1px solid rgb(51, 51, 51);
}
.navi-menu .info .info-contents .inner-info-contents .inner-info-content-item .content-item-title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;
}
.navi-menu .info .info-contents .inner-info-contents .inner-info-content-item .content-item-title a {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 5px 0 0 0;
    transition: .5s;
}
.navi-menu .info .info-contents .inner-info-contents .inner-info-content-item .content-item-title span {
    padding: 5px 0 0 0;
    border-top: 1px solid #b48d30;
    bottom: 1px;
    position: relative;
}
.navi-menu .info .info-contents .inner-info-contents .inner-info-content-item .content-item-title a:hover {
    color: #b48d30;
}
.navi-menu .info .info-contents .inner-info-contents .inner-info-content-item .content-item-title img {
    width: 20px;
    height: 20px;
    margin: 5px 0 0 0;
}
.navi-menu .info .info-contents .inner-info-contents .inner-info-content-item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    transition: .5s;
    margin: 0;
}
.navi-menu .info .info-contents .inner-info-contents .inner-info-content-item img:hover {
    opacity: .5;
}
.navi-menu .info .info-contents-list {
    border-top: 1px solid rgb(51, 51, 51);
}
.navi-menu .info .info-contents-list a {
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: right;
    margin: 10px 0 0 0;
    transition: .5s;
}
.navi-menu .info .info-contents-list a:hover {
    color: #b48d30;
}
.navi-menu .info .info-contents-list a img {
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    top: 3px;
    position: relative;
}
.contents {
    color: #000;
    width: 100%;
    background: #fff;
    padding:75px 150px;
}
.contents .contents-title {
    font-size: 18px;
    text-align: center;
}
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    margin: 0 auto 0;
    background: #121212;
}
.footer .footer-contents {
    width: 75%;
    margin: 0 auto;
    color: #808080;
    padding: 40px 0;
}
.footer .footer-contents .footer-content {
    display: flex;
    justify-content: center;
}
.footer .footer-contents .footer-content .explanation{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .category{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .footer-content-title {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 15px 0;
}
.footer .footer-contents .footer-content .footer-content-comment {
    font-size: 11px;
    font-weight: 300;
}
.footer .footer-contents .footer-content .footer-content-comment ul {
    list-style: none;
}
.footer .footer-contents .footer-content .footer-content-comment ul li {
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-comment a {
    color: #808080;
    text-decoration: none;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab {
    font-size: 15px;
    color: #808080;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0;
    border: 1px solid #808080;
    border-radius: 3px;
    transition: .5s;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab:hover {
    color: #fff;
    background: #808080;
}
.footer p {
    font-size: 10px;
    text-align: center;
    padding: 50px 0 0 0;
}