/* font-family: 'Sawarabi Mincho', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap');
/* font-family: 'Nanum Myeongjo', serif; */
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
/* font-family: 'Hammersmith One', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
/* js */

body {
    width: 100%;
    color: #000;
    letter-spacing: .1em;
    overflow-x: hidden;
}
.container {
    width: 95%;
    margin: 50px auto;
}
.header {
    display: flex;
}
.logo img {
    width: 80px;
    margin: 0 80px 0 0;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
    margin: 0 25px 0 0;
}
ul li a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    padding: 5px 0.2px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}
ul li a:hover:before {
    content: "・";
}
ul li a.download {
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 3px;
    color: #fff;
    transition: .5s;
}
.main {
    display: flex;
    justify-content: center;
    margin: 0 0 120px 0;
}
.main .left-main {
    width: 40%;
}
.main .left-main h1 {
    display: inline-block;
    font-size: 5vw;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    letter-spacing: -.15vw;
    line-height: 1.3;
    margin: 150px 0 10px 0;
    transform: scale(0.95, 1);
}
.main .left-main h2 {
    font-size: 1vw;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: 100;
    margin: 0 0 50px 15px;
}
.main .left-main img {
    width: 25vw;
    margin: 0 50px;
}
.main .left-main .nav {
    display: flex;
    margin: 30px 0 0 15px;
}
.main .left-main .nav a {
    font-size: 0.9vw;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: 100;
    color: #000;
    text-decoration: none;
    margin: 0 100px 0 0;
}
.main .left-main .nav a::before {
    content: ">>>";
    margin: 0 10px 0 0;
}
.main .right-main {
    width: 50%;
}
.main .right-main img {
    width: 120%;
    height: 100vh;
    margin: -83px 0 0 0;
    object-fit: cover;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    bottom: 50px;
    left: 0;
    position: absolute;
    transform:rotate(90deg);
}
.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #000;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
}
.contents {
    width: 85%;
    margin: 0 auto 120px;
}
.contents .content1 {
    display: flex;
    justify-content: space-between;
}
.contents .content1 .left-content {
    width: 50%;
    margin: 80px 0 0 0;
}
.contents .content1 .left-content h1 {
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 100;
    letter-spacing: -1px;
    margin: 0 0 50px 0;
}
.contents .content1 .left-content p {
    font-size: 14px;
    font-weight: 100;
    text-align: justify;
    letter-spacing: 0;
    line-height: 25px;
}
.contents .content1 .right-content {
    width: 30%;
}
.contents .content1 .right-content img {
    width: 140%;
    height: 100%;
    object-fit: cover;
}
.separate img {
    width: 100%;
    height: 50vh;
    margin: 0 0 70px;
    object-fit: cover;
}
.contents .content2 {
    display: flex;
    justify-content: space-between;
}
.contents .content2 .left-content {
    width: 50%;
}
.contents .content2 .left-content img {
    width: 100%;
}
.contents .content2 .right-content {
    width: 40%;
    padding: 40px 50px 0 0;
}
.contents .content2 .right-content h1 {
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 100;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
}
.contents .content2 .right-content h6 {
    font-size: 12px;
    margin: 0 0 30px 0;
}
.contents .content2 .right-content p {
    font-size: 14px;
    font-weight: 100;
    text-align: justify;
    letter-spacing: 0;
    line-height: 25px;
    margin: 0 0 50px 0;
}
.contents .content2 .right-content .show-detail a {
    font-size: 13px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    letter-spacing: .5px;
    padding: 15px 25px;
    border: 1px solid #000;
    transition: .5s;
}
.contents .content2 .right-content .show-detail a:hover {
    background: #d3d3d3;
}
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    padding: 50px 50px 100px 50px;
    background: #000;
}
.footer .footer-menu {
    display: flex;
    justify-content: center;
    opacity: .7;
}
.footer .footer-menu img {
    width: 70px;
    cursor: pointer;
}
.footer .footer-menu ul {
    display: inline-flex;
    list-style: none;
}
.footer .footer-menu ul li {
    margin: 0 0 0 40px;
    cursor: pointer;
}
.footer .footer-menu ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
.footer .footer-credit {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #696969;
}
.footer .footer-credit p {
    font-size: 10px;
    text-align: center;
    opacity: .7;
}