/* font-family: 'Ubuntu Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 8px 0 0 0;
    border: 1px solid #000;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    color: #fff;
    background: #000;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
/* js */

/* ハンバーガーアイコン */
#humberger {
    position: absolute;
    height: 24px;
    width: 40px;
    right: 0;
    display: inline-block;
    box-sizing: border-box;
}
#humberger div {
    position: absolute;
    left: 0;
    height: 3px;
    width: 60px;
    background: #000;
    display: inline-block;
    box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
    top: 9px;
}
#humberger div:nth-of-type(2) {
    top: 15px;
}
#humberger div:nth-of-type(3) {
    bottom: 0;
}
#humberger div:nth-of-type(4) {
    top: 27px;
}
/* ハンバーガーアイコン */

/* 横スクロール */
.horizontal-list {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.item {
    display: inline-block;
    width: 35%;
    height: auto;
    padding: 0 0 75px 5px;
}
.item:first-child {
    margin: 0 0 0 40px;
}
.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0 0 5px 0;
}
.item .category {
    font-size: 15px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 100;
    letter-spacing: -.3px;
    color: #a9a9a9;
    margin: 0 0 10px 0;
}
.item p {
    font-size: 13px;
    font-weight: 100;
}
/* 横スクロール */

body {
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
}
.main .left-main img {
    width: 50%;
    height: 100%;
    position: fixed;
    object-fit: cover;
}
.main .right-main {
    width: 50%;
    height: 100vh;
    margin: 0 50%;
    padding: 50px;
}
.main .right-main .logo {
    width: 90px;
    height: 90px;
}
.main .right-main h1 {
    font-size: 40px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 100;
    letter-spacing: -.3px;
    margin: 60vh 0 0 5px;
}
.main .right-main h6 {
    font-size: 15px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 100;
    letter-spacing: -.3px;
    margin: 0 0 0 5px;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #79726e;
    bottom: 50px;
    right: 0;
    position: absolute;
    transform:rotate(90deg);
}
.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #79726e;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
}
.main .contents {
    width: 50%;
    margin: 0 50%;
    padding: 0px 0 50px;
}
.main .contents .news .news-title-set {
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 100;
    letter-spacing: -.3px;
    margin: 50px 0 30px 0;
    padding: 0 50px 0;
}
.main .contents .news .news-title-set .news-title {
    font-size: 40px;
}
.main .contents .news .news-title-set .more-link a {
    text-decoration: none;
    color: #000;
    top: 20px;
    position: relative;
    transition: .5s;
}
.main .contents .news .news-title-set .more-link a:hover {
    border-bottom: 1px solid #000;
    opacity: .5;
}
.main .contents .news .news-set {
    background: #fff;
    padding: 50px 50px;
    border-bottom: 1px dotted #a9a9a9;
}
.main .contents .news .news-set:hover {
    background: #effffe; /* Old browsers */
    background: -moz-linear-gradient(left,  #effffe 0%, #fcf2f9 24%, #fdeaff 50%, #eff9fc 77%, #d1f9eb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #effffe 0%,#fcf2f9 24%,#fdeaff 50%,#eff9fc 77%,#d1f9eb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #effffe 0%,#fcf2f9 24%,#fdeaff 50%,#eff9fc 77%,#d1f9eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effffe', endColorstr='#d1f9eb',GradientType=1 ); /* IE6-9 */
}
.main .contents .news .news-set .release-date {
    font-size: 15px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 100;
    letter-spacing: -.3px;
    color: #a9a9a9;
    margin: 0 0 15px 0;
}
.main .contents .news .news-set .release-date::after {
    content: '';
    display: inline-block;
    background: #a9a9a9;
    height: 1px;
    width: 100px;
    margin:0 0 5px 20px;
}
.main .contents .news .news-set p {
    font-size: 14px;
    font-weight: 100;
}
.contents .footer {
    text-align: center;
    margin: 150px 0 0 0;
}
.contents .footer .sns-copy {
    font-size: 14px;
    color: #a9a9a9;
}
.contents .footer ul li {
    font-size: 25px;
    display: inline-block;
    margin: 30px 20px 50px;
}
.contents .footer ul li a {
    text-decoration: none;
    color: #000;
}
.contents .footer p {
    font-size: 10px;
    font-weight: 100;
    color: #a9a9a9;
    margin: 0 0 150px 0;
}