/* #69c3e8 */
/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap');
/* font-family: 'Poiret One', cursive; */
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 12px 0 0 0;
    border: 1px solid #fff;
    transition: .5s;
    right: 30px;
    bottom: 30px;
    position: fixed;
    z-index: 4;
}
#page-top a:hover {
    opacity: .5;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #fff;
    bottom: 40px;
    left: 0px;
    position: absolute;
    z-index: 1;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding: 20px;
    background: #000;
}
/* js */

/*サイドメニュー*/
.sidebarMenu {
    width: 500px;
    height: 100%;
    padding: 90px;
    top: 0;
    left: 0;
    position: fixed;
    transform: translateX(-500px);
    background: #fff;
    z-index: 2;
    transition: .5s;
    overflow: scroll;
}
.sidebarMenu h3 {
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    color: #69c3e8;
    margin: 0 0 40px 0;
}
.sidebarMenu ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    line-height: 60px;
}
.sidebarMenu ul li {
    font-size: 12px;
    font-weight: bold;
    color: rgb(41, 41, 41);
}
.sidebarMenu ul li a {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    transition: .5s;
}
.sidebarMenu ul li a:hover  {
    color: #69c3e8;
}
.sidebarMenu ul li span a {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    background: #eee;
    padding: 15px;
    border-radius: 50%;
    transition: .5s;
}
.sidebarMenu ul li span .fab {
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
    padding: 7px 0 0 0;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 50%;
    transition: .5s;
}
.sidebarMenu ul li span .fab:hover {
    color: #fff;
    background: #69c3e8;
    border: none;
}
.sidebarMenu ul li span a:hover {
    color: #fff;
    padding: 20px;
    background: #69c3e8;
}
.sidebarMenu ul li a img {
    width: 40px;
    height: 40px;
    background: #69c3e8;
    padding: 10px;
    border-radius: 50%;
    top: 10px;
    position: relative;
    transition: .5s;
}
.sidebarMenu ul li a img:hover {
    opacity: .5;
}
.sidebarMenu p {
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: #696969;
    margin: 50px 0 90px;
}
.example {
    height: 1px;
    position: relative;
    margin: 30px 0;
}
.example::before {
    content: "";
    background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 1px);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
input[type="checkbox"]:checked ~ .sidebarMenu {
    transform: translateX(100px);
}
input[type=checkbox] {
    transition: all 0.3s;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    height: 100%;
    top: 45%;
    left: 35px;
    height: 22px;
    width: 25px;
}
.left-sidebar {
    width: 100px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #eee;
    position: fixed;
    z-index: 3;
}
.left-sidebar .entry-button {
    text-align: center;
    width: 100px;
    padding: 50px 0;
    background: #69c3e8;
    left: 0;
    bottom: 0;
    position: fixed;
}
.left-sidebar .entry-button img {
    width: 20px;
}
.left-sidebar .entry-button p {
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    color: #fff;
}
.spinner {
    transition: all 0.3s;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
}
.horizontal {
    transition: all 0.3s;
    position: relative;
    float: left;
    margin-top: 4px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    position: relative;
    float: left;
    margin-top: 4px;
}
input[type=checkbox]:checked ~ .left-sidebar > .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    opacity: 0;
}
input[type=checkbox]:checked ~ .left-sidebar > .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    transform: rotate(135deg);
    margin-top: 7px;
}
input[type=checkbox]:checked ~ .left-sidebar > .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    transform: rotate(-135deg);
    margin-top: -8px;
}
/*サイドメニュー*/

body {
    width: 100%;
}
.main .main-title {
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    color: #fff;
    text-align: center;
    top: 45%;
    left: 200px;
    position: absolute;
    z-index: 1;
}
.main .main-title::after {
    content: '';
    display: inline-block;
    border-top: 1px solid #eee;
    width: 100px;
    transform: rotate(45deg);
    top: 30px;
    left: 135px;
    position: absolute;
    opacity: .5;
}
.main .main-title::before {
    content: '';
    display: inline-block;
    border-top: 1px solid #eee;
    width: 100px;
    transform: rotate(-45deg);
    top: 30px;
    left: 135px;
    position: absolute;
    opacity: .5;
}
.main .main-title span {
    color: #69c3e8;
    margin: 0 0 0 70px;
}
.main .view-more a {
    font-size: 15px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color: #fff;
    text-align: center;
    top: 47%;
    right: 30px;
    position: absolute;
    z-index: 1;
}
.main .view-more a span {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 8px 0 0 0;
    background: #69c3e8;
    border-radius: 50%;
    transition: .5s;
}
.main .view-more a span:hover {
    opacity: .5;
}
.main {
    width: 100%;
    height: 100%;
}
.main .single {
    position: relative;
    z-index: 0;
}
.single .image{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.contents {
    width: 80%;
    margin: 150px auto;
}