/* #ef5ba1 #fdb813 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #fff;
    text-decoration: none;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 75px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
    transition: .5s;
}
#page-top a:hover {
    background: #ef5ba1;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    border: 1px solid #ef5ba1;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
    opacity: .5;;
}
/* js */

body {
    width: 100%;
    background: #f2ecdd;
}
.container .header {
    width: 100%;
    height: 90px;
    overflow-x: hidden;
}
.container .header .logo {
    width: 250px;
    height: 90px;
    padding: 25px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #fff;
    position: fixed;
    z-index: 1;
}
.container .header .logo img {
    width: 200px;
}
.container .header .navi {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    color: #fff;
    width: auto;
    height: 90px;
    margin: 0 0 0 250px;
    border-bottom: 1px solid #eee;
    background: #fff;
}
.container .header .navi .header-banner {
    width: 300px;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url(../img/main1.jpg);
    background-size: cover;
    background-position: right;
}
.container .header .navi .header-banner:hover {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1.0)),url(../img/main1.jpg);
}
.container .header .navi .header-banner .header-banner-wrap {
    display: flex;
    justify-content: flex-start;
    top: 25px;
    left: 20px;
    position: relative;
}
.container .header .navi .header-banner h4 span {
    display: block;
    font-size: 10px;
}
.container .header .navi .header-banner h4 {
    display: block;
    font-size: 14px;
    text-shadow: 0 0 5px #000;
}
.container .header .navi .header-banner img {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
}
.container .left-side {
    width: 90px;
    height: 100%;
    position: fixed;
    object-fit: cover;
    border-right: 1px solid #eee;
    border-left: 6px solid #ef5ba1;
    background: #fff;
}
.container .left-side ul {
    padding: 90px 0 0 10px;
}
.container .left-side ul li {
    list-style: none;
}
.container .left-side a {
    text-decoration: none;
}
.container .left-side .fas,
.container .left-side .far {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    color: #333;
    margin: 0 0 15px 0;
    padding: 10px 5px 5px 5px;
    border-radius: 50%;
    background: #f5f5f5;
    transition: .5s;
}
.contents {
    width: auto;
    height: 100%;
    margin: 0 0 0 90px;
    padding: 50px;
    position: relative;
    z-index: 1;
}
.contents .content {
    display: flex;
    justify-content: center;
}
.contents .content .main-left {
    width: 50%;
    margin: 0 50px 0 0;
}
.contents .content .main-left .thumbnail img {
    width: 90%;
    height: 490px;
    object-fit: cover;
    border: 10px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    position: relative;
    z-index: 0;
}
.contents .content .main-left .thumbnail .caption-set {
    width: 90%;
    margin: 0 auto;
    padding: 15px 25px;
    border-left: 10px solid #ef5ba1;
    background: #fff;
    bottom: 70px;
    position: relative;
    z-index: 1;
    opacity: .8;
    transform: rotate(-5deg);
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.contents .content .main-left .thumbnail .caption-set .caption {
    font-size: 15px;
    font-weight: 700;
    color: #ef5ba1;
}
.contents .content .main-left .thumbnail .caption-set .datetime {
    font-size: 13px;
    font-weight: 100;
}
.contents .content .main-left .thumbnail .caption-set .datetime::before {
    content: '\f024';
    font-family: 'Font Awesome 5 Free';
    margin: 0 5px 0 0;
}
.contents .content .main-left .thumbnail .caption-set .datetime span {
    font-size: 11px;
    margin: 0 0 0 20px;
}
.contents .content .main-right {
    width: 45%;
}
.contents .content .main-right .thumbnail-thumb .thumbnail-thumb-wrap {
    padding: 10px 0 3px;
    border-top: 1px solid #fff;
}
.contents .content .main-right .thumbnail-thumb .thumbnail-thumb-wrap img {
	width: 70px;
	height: 70px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 10px 0 0;
    transition: .5s;
}
.contents .content .main-right .thumbnail-thumb .thumbnail-thumb-wrap img:hover {
    opacity: .5;
}
.contents .content .main-right .thumbnail-thumb .thumbnail-thumb-wrap h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #382500;
}
.contents .content .main-right .more-link {
    display: block;
    color: #382500;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 50px;
    margin: 30px 0 0 2px;
    padding: 10px 0 0 0;
    border: 1px solid #382500;
    transition: .5s;
}
.contents .content .main-right .more-link:hover {
    background: #ef5ba1;
}
#sidebarMenu {
    display: flex;
    height: 100%;
    position: fixed;
    left: 0;
    width: 500px;
    margin: 90px 0 0 0;
    transform: translateX(-500px);
    transition: transform 250ms ease-in-out;
    border-left: #eee;
    background: #fff;
    z-index: 1000;
}
.sidebarMenuInner {
    width: 250px;
    border-right: 1px solid #eee;
    background: #ef5ba1;
}
.sidebarMenuInner .index {
    padding: 20px;
}
.sidebarMenuInner .index li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.sidebarMenuInner .index li{
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.sidebarMenuInner .index li a {
    color: #fff;
    margin: 0 0 0 5px;
    transition: .5s;
}
.sidebarMenuInner .index li a:hover {
    color: #632341;
}
.sidebarMenuInner .index li .fas,
.sidebarMenuInner .index li .far {
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    color: #ef5ba1;
    margin: 0 0 30px 0;
    padding: 10px 5px 5px 5px;
    border-radius: 50%;
    background: #f5f5f5;
    transition: .5s;
}
.shop-info-set {
    width: 250px;
}
.shop-info-set .inner-shop-info {
    padding: 30px;
}
.shop-info-set .inner-shop-info .shop-info-title {
    font-size: 15px;
    font-weight: bold;
    color: coral;
    margin: 0 0 5px 0;
}
.shop-info-set .inner-shop-info .shop-info-category {
    font-size: 13px;
    font-weight: bold;
}
.shop-info-set .inner-shop-info .shop-info {
    font-size: 13px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
.shop-info-set .inner-shop-info .shop-info::before {
    content: '';
    display: inline-block;
    background: #000;
    height: 1px;
    width: 10px;
    margin:0 5px 5px 0;
}
.shop-info-set .inner-shop-info .shop-info-contact {
    font-size: 15px;
    font-weight: bold;
    color: coral;
    margin: 30px 0 10px 0;
}
.shop-info-set .inner-shop-info .shop-info-remark {
    font-size: 10px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #ef5ba1;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    margin: 50px auto 0;
    background: #2f2f2f;
}
.footer .footer-contents {
    width: 75%;
    margin: 0 auto;
    color: #808080;
    padding: 40px 0;
}
.footer .footer-contents .footer-content {
    display: flex;
}
.footer .footer-contents .footer-content .explanation{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .category{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .footer-content-title {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 15px 0;
}
.footer .footer-contents .footer-content .footer-content-comment {
    font-size: 11px;
    font-weight: 300;
}
.footer .footer-contents .footer-content .footer-content-comment ul {
    list-style: none;
}
.footer .footer-contents .footer-content .footer-content-comment ul li {
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-comment a {
    color: #808080;
    text-decoration: none;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab {
    font-size: 15px;
    color: #808080;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0;
    border: 1px solid #808080;
    border-radius: 3px;
    transition: .5s;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab:hover {
    color: #fff;
    background: #808080;
}
.footer p {
    font-size: 10px;
    padding: 50px 0 0 0;
}