* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 12px 0 0 0;
    border: 1px solid #fff;
    transition: .5s;
    left: 30px;
    bottom: 30px;
    position: fixed;
    z-index: 4;
}
#page-top a:hover {
    opacity: .5;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.main .scroll-down {
    font-size: 12px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    letter-spacing: 0;
    color: #fff;
    bottom: 40px;
    left: 0px;
    position: absolute;
    z-index: 1;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding: 20px;
    background: #000;
}
/* js */

/*サイドメニュー*/
.sidebarMenu {
    width: 100%;
    height: 100%;
    padding: 200px 250px 15px 150px;
    top: 0;
    position: fixed;
    transform: translateX(100%);
    background: #fff;
    z-index: 2;
    transition: .5s;
}
.sidebarMenu .sub-menu-right {
    font-size: 18px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    color: #000;
    letter-spacing: 1.5px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    width: 38%;
    margin: 0 auto 75px;
}
.sidebarMenu .sub-menu-right ul li {
    list-style: none;
    margin: 0 0 0 30px;
    padding: 5px;
}
.sidebarMenu .sub-menu-right ul li::before {
    content: 'ー ';
}
.sidebarMenu .sub-menu-right ul li a {
    color: #000;
    transition: .5s;
}
.sidebarMenu .sub-menu-right ul li a:hover {
    color: #164684;
}
.sidebarMenu .contact-button {
    display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 50px auto 25px;
}
.sidebarMenu .web-contact,
.sidebarMenu .phone-contact {
    font-size: 13px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    text-align: center;
    width: 48%;
    height: 50px;
    padding: 15px 0 0 0;
    border: 1px solid #000;
    transition: .5s;
}
.sidebarMenu .web-contact span,
.sidebarMenu .phone-contact span {
    display: block;
    width: 0%;
    height: 49px;
    background: #164684;
    bottom: 35px;
    position: relative;
    transition: .5s;
    z-index: 0;
    opacity: .3;
}
.sidebarMenu .web-contact:hover span,
.sidebarMenu .phone-contact:hover span {
    width: 100%;
}
.sidebarMenu .onlineshop-button {
    font-size: 13px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    text-align: center;
    width: 70%;
    height: 50px;
    margin: 0 auto;
    padding: 15px 0 0 0;
    color: #fff;
    background: #164684;
    transition: .5s;
}
.sidebarMenu .onlineshop-button:hover {
    opacity: .5;
}
.sidebarMenu .onlineshop-button {
    color: #fff;
    transition: .5s;
}
.sidebarMenu .sns-icon {
    font-size: 18px;
    text-align: right;
    width: 70%;
    margin: 10px  auto;
}
.sidebarMenu .sns-icon a {
    color: #ccc;
    margin: 0 0 0 10px;
    transition: .5s;
}
input[type="checkbox"]:checked ~ .sidebarMenu {
    transform: translateX(0);
}
input[type=checkbox] {
    transition: all 0.3s;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    height: 100%;
    top: 45%;
    right: 30px;
    height: 22px;
    width: 40px;
}
.right-sidebar {
    width: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #eee;
    background: #fff;
    position: fixed;
    z-index: 3;
}
.toggle-label {
    font-size: 10px;
    font-family: 'Noto Serif JP', serif;
    margin: 25px 0 0 0;
}
.spinner {
    transition: all 0.3s;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000;
}
.horizontal {
    transition: all 0.3s;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .right-sidebar > .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    opacity: 0;
}
input[type=checkbox]:checked ~ .right-sidebar > .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .right-sidebar > .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    transform: rotate(-135deg);
    margin-top: -5px;
}
/*サイドメニュー*/

body {
    width: 100%;
}
.main {
    width: 100%;
    height: 100%;
}
.main .single {
    position: relative;
    z-index: 0;
}
.main .single img{
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}
.main .sub-menu-right {
    font-size: 18px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    color: #000;
    letter-spacing: 1.5px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    top: 50px;
    right: 150px;
    position: absolute;
    z-index: 1;
}
.main .sub-menu-right ul li {
    list-style: none;
    margin: 0 0 0 15px;
    padding: 5px;
    background: #fff;
}
.main .sub-menu-right ul .line1 {
    height: 39%;
}
.main .sub-menu-right ul .line2 {
    height: 100%;
}
.main .sub-menu-right ul .line3 {
    height: 93%;
}
.main .sub-menu-right ul .line4 {
    height: 60.5%;
}
.contents {
    width: 80%;
    margin: 150px auto;
}
.contents .news {
    display: -webkit-box;
  	display: -ms-flexbox;
    display: flex;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    margin: 0 0 150px 0;
}
.contents .news .news-title {
    font-size: 25px;
    letter-spacing: 2px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin: 0 250px 50px 0;
}
.contents .news .news-title span {
    display: block;
    font-size: 12px;
    color: #0c0c0c;
    top: 2px;
    position: relative;
}
.contents .news .news-more {
    font-size: 12px;
    letter-spacing: 2px;
}
.contents .news .news-more::after {
    content: ' ';
    display: block;
    width: 80px;
    height: 10px;
    background-image: url(../img/arrow.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 0 30px 0;
}
.contents .news .news-more a {
    color: #000;
}
.contents .news .news-content-set {
    font-size: 13px;
}
.contents .news .news-content-set div {
    display: -webkit-box;
  	display: -ms-flexbox;
    display: flex;
}
.contents .news .news-content-set .inner-news-content-set {
    margin: 30px 0 0 0;
}
.contents .news .news-content-set div .news-date {
    margin: 0 20px 0 0;
}
.contents .news .news-content-set div .news-info-title {
    margin: 0 60px 0 0;
    padding: 0 10px;
    color: #fff;
    background: #000;
}
.contents .content-image-left {
    display: flex;
    margin: 0 0 100px 0;
}
.contents .content-image-left .left-content {
    width: 50%;
}
.contents .content-image-left .left-content img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}
.contents .content-image-left .right-content {
    width: 40%;
    margin: 0 auto;
}
.contents .content-image-left .right-content h1 {
    font-size: 30px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    letter-spacing: 2px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin: 15vh 0 5vh 40%;
}
.contents .content-image-left .right-content h1 span {
    display: block;
    font-size: 12px;
    color: #0c0c0c;
    top: 2px;
    position: relative;
}
.contents .content-image-left .right-content p {
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 0 0 50px 0;
}
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    margin: 50px auto 0;
    background: #000;
}
.footer .footer-contents {
    width: 75%;
    margin: 0 auto;
    color: #808080;
    padding: 40px 0;
}
.footer .footer-contents .footer-content {
    display: flex;
    justify-content: center;
}
.footer .footer-contents .footer-content .explanation{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .category{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .footer-content-title {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 15px 0;
}
.footer .footer-contents .footer-content .footer-content-comment {
    font-size: 11px;
    font-weight: 300;
}
.footer .footer-contents .footer-content .footer-content-comment ul {
    list-style: none;
}
.footer .footer-contents .footer-content .footer-content-comment ul li {
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-comment a {
    color: #808080;
    text-decoration: none;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab {
    font-size: 15px;
    color: #808080;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0;
    border: 1px solid #808080;
    border-radius: 3px;
    transition: .5s;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab:hover {
    color: #fff;
    background: #808080;
}
.footer p {
    font-size: 10px;
    text-align: center;
    padding: 50px 0 0 0;
}