/* font-family: 'Abhaya Libre', serif; */
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap');
/* font-family: 'Prata', serif; */
@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');
/* font-family: 'Reem Kufi', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Prata|Reem+Kufi&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/* #ee5827 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #ee5827;
    border-radius: 50%;
    background: #ee5827;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    border: 1px solid #ee5827;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #fff;
    bottom: 50px;
    left: 0;
    position: absolute;
    transform:rotate(90deg);
    opacity: .7;
}
.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #fff;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
}
/* js */

body {
    width: 100%;
}
.container {
    width: 100;
    margin: 30px auto 0;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #f5f5f5;
}
.logo img {
    width: 120px;
    margin: 0 0 0 25px;
}
.header ul {
    list-style: none;
}
.header ul li {
    display: inline-block;
    margin: 0 35px 0 0;
}
.header ul li a {
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #ee5827;
    margin: 0;
    padding: 22px 30px 20px;
    border: 2px solid #ee5827;
    border-radius: 35px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    transition: .5s;
}
.header ul li a:hover {
    color: #fff;
    background: #ee5827;
}
.header ul li a .fas {
    margin: 0 10px 0 0;
}
.menu-icon {
    text-decoration: none;
    color: #79726e;
    margin: 0 20px 0 0;
    transition: .5s;
}
.menu-icon:hover {
    color: #ee5827;
}
.main {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.main .left-main {
    flex: 2;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/main.jpg);
    background-position: center;
    background-size: cover;
}
.main .left-main .left-main-title {
    color: #fff;
    margin: 25vh 15vw;
}
.main .left-main .left-main-title h3 {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 0 10px 0;
}
.main .left-main .left-main-title h1 {
    font-size: 4vw;
    font-family: 'Prata', serif;
    line-height:5vw;
    margin: 0 0 40px -5px;
}
.main .left-main .left-main-title .more-button a {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 0 35px 15px;
    border-bottom: 2px solid #ee5827;
    transition: ease-in-out .5s;
}
.main .left-main .left-main-title .more-button a:hover {
    background: #ee5827;
    padding: 18px 35px;
}
.center {
    width: 35%;
    height: 50%;
    margin: 150px 0 0 0;
}
.center img {
    width: 60%;
    height: auto;
    margin: 0 auto;
}
.center .slick-next {
    right: 20px;
    z-index: 99;
}
.center .slick-prev {
    left: 15px;
    z-index: 100;
}
.center .product-name {
    font-size: 30px;
    font-family: 'Prata', serif;
    text-align: center;
    margin: 5px 0;
}
.center p {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #79726e;
    line-height: 21px;
    width: 220px;
    margin: 0 auto 20px;
    letter-spacing: 1px;
}
.center .cart-icon {
    text-align: center;
    width: 250px;
    margin: 0 auto;
}
.center .cart-icon .fas {
    width: 50px;
    height: 50px;
    color: #ccc;
    padding: 15px 0 0 0;
    border: 1px solid #ee5827;
    border-radius: 50%;
    transition: .5s;
}
.center .cart-icon .fas:hover {
    color: #fff;
    background: #ee5827;
}
.slick-dots li button:before {
    font-size: 30px;
}
.slick-slide {
    opacity: 0.5;
	transition: 0.5s;
    transform: scale(.8);
}
.slick-current {
    opacity: 1;
    transform: scale(1);
}
.contents {
    width: 80%;
    margin: 150px auto;
}
.contents .content-1 {
    display: flex;
    justify-content: space-between;
}
.contents .content-1 .left-content-1 {
    width: 50%;
}
.contents .content-1 .left-content-1 h1 {
    font-size: 40px;
    font-family: 'Prata', serif;
    font-weight: 100;
    margin: 0 0 30px 0;
    line-height: 50px;
}
.contents .content-1 .left-content-1 p {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: #808080;
    line-height: 27px;
    margin: 0 0 30px 0;
}
.contents .content-1 .left-content-1 .more-button a {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #000;
    margin: 0 0 10px 0;
    padding: 0 25px 5px;
    border-bottom: 2px solid #ee5827;
    transition: ease-in-out .5s;
}
.contents .content-1 .left-content-1 .more-button a:hover {
    color: #fff;
    background: #ee5827;
    padding: 12px 25px 5px;
}
.contents .content-1 .right-content-1 {
    width: 45%;
}
.contents .content-1 .right-content-1 img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    margin: 50px auto 0;
    background: #2f2f2f;
}
.footer .footer-contents {
    width: 75%;
    margin: 0 auto;
    color: #808080;
    padding: 40px 0;
}
.footer .footer-contents .footer-content {
    display: flex;
}
.footer .footer-contents .footer-content .explanation{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .category{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .footer-content-title {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 15px 0;
}
.footer .footer-contents .footer-content .footer-content-comment {
    font-size: 11px;
    font-weight: 300;
}
.footer .footer-contents .footer-content .footer-content-comment ul {
    list-style: none;
}
.footer .footer-contents .footer-content .footer-content-comment ul li {
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-comment a {
    color: #808080;
    text-decoration: none;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab {
    font-size: 15px;
    color: #808080;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0;
    border: 1px solid #808080;
    border-radius: 3px;
    transition: .5s;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab:hover {
    color: #fff;
    background: #808080;
}
.footer p {
    font-size: 10px;
    padding: 50px 0 0 0;
}