/* 赤 #d43246 黒　#3a3c49　茶　#79726e  バック　#efecea*/



/* font-family: 'Playfair Display', serif;
font-family: 'Old Standard TT', serif; */
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #3a3c49;
    box-sizing: border-box;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #79726e;
    border-radius: 50%;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 40px;
    height: 40px;
    border: 1px solid #d43246;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
/* js */

body {
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
    background: #efecea;
}
.container {
    width: 90%;
    margin: 50px auto;
}
.main {
    width: 100%;
    height: 100vh;
    background-image: url(../img/main.jpg);
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: 70% 40%;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu a img {
    width: 120px;
    margin: 0 80px 0 0;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
    margin: 0 25px 0 0;
}
ul li a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 100;
    padding: 5px 0.2px;
    color: #79726e;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    letter-spacing: .2em;
}
ul li a:hover {
    border-bottom: 1px solid #79726e;
}
.banner-text {
    color: #fff;
    top: 300px;
    left: 4vw;
    position: relative;
}
.banner-text h1 {
    font-size: 40px;
    font-family: 'Old Standard TT', serif;
    font-weight: 100;
    line-height: 45px;
    width: 30vw;
    margin: 0 0 20px 0;
}
.banner-text p {
    font-size: 14px;
    font-weight: 100;
    color: #79726e;
    width: 23vw;
    line-height: 22px;
    margin: 0 0 40px 0;
}
.banner-text .view-link a {
    font-size: 11px;
    color: #d43246;
    text-decoration: none;
    letter-spacing: 2px;
}
.banner-text .view-link a::before {
    content: '';
    display: inline-block;
    background: #d43246;
    height: 1px;
    width: 20px;
    margin:0 20px 5px 0;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #79726e;
    bottom: 50px;
    right: 0;
    position: absolute;
    transform:rotate(90deg);
}
.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #79726e;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
}
.main .instagram a {
    font-size: 12px;
    font-weight: 100;
    color: #79726e;
    text-decoration: none;
    letter-spacing: 4px;
    bottom: 450px;
    right: 15px;
    position: fixed;
    transform:rotate(90deg);
    transition: .5s;
}
.main .instagram a:hover {
    color: #d43246;
}
.contents {
    padding: 0 150px;
}
.contents .content {
    display: flex;
    margin: 0 0 150px 0;
}
.contents .content .left-content {
    width: 38%;
    margin: 0 100px 0 0;
}
.contents .content .left-content img {
    width: 100%;
}
.contents .content .right-content {
    width: 50%;
    margin: 170px 0 0 0;
}
.contents .content .right-content h1 {
    font-size: 35px;
    font-family: 'Old Standard TT', serif;
    font-weight: 100;
    line-height: 45px;
    margin: 0 0 20px 0;
}
.contents .content .right-content span {
    font-size: 15px;
    bottom: 5px;
    position: relative;
}
.contents .content .right-content p {
    font-size: 14px;
    font-weight: 100;
    color: #79726e;
    line-height: 22px;
    margin: 0 0 40px 0;
}
.contents .content .right-content .view-link a {
    font-size: 11px;
    color: #d43246;
    text-decoration: none;
    letter-spacing: 2px;
}
.contents .content .right-content .view-link a::before {
    content: '';
    display: inline-block;
    background: #d43246;
    height: 1px;
    width: 20px;
    margin:0 20px 5px 0;
}
.contents .content-title {
    font-size: 75px;
    font-family: 'Old Standard TT', serif;
    color: #fff;
    left: 150px;
    top: 100px;
    position: relative;
}
.footer {
    text-align: center;
    margin: 200px 0 0 0;
    padding: 50px;
    background: #fff;
}
.footer h1 {
    font-size: 35px;
    font-family: 'Old Standard TT', serif;
    font-weight: 100;
    margin: 50px 0 10px 0;
}
.footer p {
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 0;
    margin: 125px 0 0 0;
}
.footer .footer-menu {
    display: flex;
    justify-content: center;
    opacity: .7;
}
.footer .footer-menu ul {
    display: inline-flex;
    list-style: none;
}
.footer .footer-menu ul li {
    cursor: pointer;
}
.footer .footer-menu ul li a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 100;
    padding: 5px 0.2px;
    color: #79726e;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    letter-spacing: .2em;
}