* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1.0)),url(../img/main.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.menu {
    width: 100%;
}
.menu img {
    height: 35px;
    margin: 20px 35px;
    cursor: pointer;
}
.menu ul {
    display: inline-flex;
    color: #fff;
    list-style: none;
    right: 60px;
    top: 15px;
    position: absolute;
}
.menu ul li {
    margin: 15px;
    cursor: pointer;
    font-size: 14px;
}
.menu ul li .fas {
    margin: 0 5px 0 0;
}
.banner-text {
    width: 80%;
    color: #fff;
    margin: 16% auto 0;
}
.banner-text h1 {
    font-size: 45px;
}
.banner-text p {
    font-size: 16px;
    margin: 20px 0 50px;
}
.banner-text ul {
    list-style: none;
    display: inline-flex;
}
.banner-text ul li {
    margin: 0 25px 0 0;
    position: relative;
}
.banner-text ul li a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    width: 120px;
    padding: 10px;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
    transition: .5s;
}
.banner-text ul li a:hover {
    border: 1px solid red
}
.banner-text ul li span {
    display: block;
    width: 0%;
    height: 100%;
    background: red;
    top: 0;
    position: absolute;
    transition: .3s;
    z-index: 0;
    opacity: .5;
}
.banner-text ul li:hover span {
    width: 100%;
}