* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: none;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #000;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #79726e;
    bottom: 50px;
    right: 0;
    position: absolute;
    transform:rotate(90deg);
}
.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #79726e;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
}
/* js */

/*サイドメニュー*/
.sidebarMenu {
    width: 100%;
    height: 100%;
    padding: 50px 250px;
    top: 0;
    position: fixed;
    transform: translateY(100%);
    background: #ebeff2;
    z-index: 2;
    transition: .5s;
}
input[type="checkbox"]:checked ~ .sidebarMenu {
    transform: translateY(0);
}
input[type=checkbox] {
    transition: all 0.3s;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    cursor: pointer;
    z-index: 1;
    height: 22px;
    width: 40px;
}
.spinner {
    transition: all 0.3s;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
}
.sidebarMenu .inner-header {
    top: 50px;
    right: 175px;
    position: fixed;
}
.sidebarMenu .inner-sidebarMenu {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 75px 0;
}
.sidebarMenu .inner-sidebarMenu .left-inner-sidebarMenu {
    width: 45%;
}
.sidebarMenu .inner-sidebarMenu .inner-sidebarMenu-set {
    margin: 0 0 30px 0;
}
.sidebarMenu .inner-sidebarMenu .inner-sidebarMenu-set .fas {
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    padding: 15px 0 0 0;
    border-radius: 50%;
    background: #76b4ec;
}
.sidebarMenu .inner-sidebarMenu .inner-sidebarMenu-set span {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}
.sidebarMenu .inner-sidebarMenu .right-inner-sidebarMenu {
    width: 45%;
}
.sidebarMenu .inner-sidebarMenu .inner-sidebarMenu-set ul {
    top: 5px;
    left: 45px;
    position: relative;
}
.sidebarMenu .inner-sidebarMenu .inner-sidebarMenu-set ul li {
    font-size: 16px;
    font-weight: 100;
    list-style: none;
    margin: 0 0 5px 0;
}
.sidebarMenu .inner-footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #000;
}
.sidebarMenu .inner-footer .sns-icon a .fab {
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 30px 0 0 30px;
    padding: 15px 0 0 0;
    border-radius: 50%;
    background: #000;
    transition: .5s;
}
.sidebarMenu .inner-footer .sns-icon a .fab:hover {
    opacity: .5;
}
.sidebarMenu .inner-footer .online-button a {
    display: block;
    font-weight: bold;
    margin: 30px 30px 0 0;
    padding: 15px 40px;
    border: 2px solid #000;
    border-radius: 30px;
    transition: .5s;
}
.sidebarMenu .inner-footer .online-button a:hover {
    color: #fff;
    background: #000;
}
.sidebarMenu .inner-footer .online-button a .fas {
    font-size: 20px;
}
/*サイドメニュー*/

body {
    width: 100%;
    background: #f2f2f2;
}
.container {
    width: 100%;
}
.container .header {
    width:75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 5px 0;
    border-top: 6px solid #000;
}
.container .header img {
    width: 250px;
}
.container .header .search .fas,
.container .header .bars .fas,
.container .sidebarMenu .bars .fas {
    font-size: 30px;
    margin: 0 0 10px 0;
}
.container .header .bars {
    text-align: center;
}
.container .header .search div,
.container .header .bars,
.container .sidebarMenu .bars {
    font-size: 10px;
}
.search-text {
    left: 5px;
    position: relative;
}
.container .main {
    width: 75%;
    margin: 50px auto;
}
.container .main .single .item-set {
    width: 550px;
    padding: 30px 30px 30px 0;
    background: #f2f2f2;
    border-radius: 10px;
    bottom: 125px;
    position: relative;
    z-index: 1;
}
.container .main .single .main-image img {
    margin: 0 0 0 auto;
    width: 90%;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
}
.container .main .single .item-set .item-head {
    margin: 0 0 20px 0;
}
.container .main .single .item-set .item-head .fas {
    font-size: 13px;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 8px 0 0 0;
    border-radius: 50%;
    background: #76b4ec;
}
.container .main .single .item-set .item-head .item-category,
.container .main .single .item-set .item-head .item-datetime {
    font-size: 13px;
    margin: 0 15px 0 5px;
}
.container .main .single .item-set .item-datail .sub-title {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin: 0 0 5px 0;
    left: 2px;
    position: relative;
}
.container .main .single .item-set .item-datail .main-title {
    font-size: 30px;
    font-weight: bold;
}
.container .main .single .item-set .item-datail .tag .user-name {
    font-size: 12px;
    font-weight: 100;
    margin: 0 10px 0 0;
}
.container .main .single .item-set .item-datail .tag span a {
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    margin: 15px 5px 0 0;
    padding: 5px 20px;
    border-radius: 30px;
    background: #fff;
    transition: .5s;
}
.container .main .single .item-set .item-datail .tag span a:hover {
    color: #fff;
    background: #000;
}
.container .contents {
    width: 75%;
    margin: -100px auto;
}