/* font-family: 'Noto Serif JP', serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #000;
    border-radius: 50%;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    border: 1px solid #696969;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
/* js */

body {
    font-family: 'Noto Serif JP', serif;
    width: 100%;
    background: rgba(255, 225, 0, 1.0);
}
.container .left-side {
    display: none;
    width: 120px;
    height: 100%;
    top: 40px;
    left: 40px;
    position: fixed;
    object-fit: cover;
}
.container .left-side img {
    width: 80px;
}
.container .left-side a {
    text-decoration: none;
}
.container .left-side .fab,
.container .left-side .fas {
    display: block;
    font-size: 25px;
    text-align: left;
    color: #000;
    margin: 20px 0 20px 10px;
    border-radius: 50%;
    transition: .5s;
}
.container .left-side .fa-facebook-f {
    left: 5px;
    position: relative;
}
.container .left-side .fas {
    font-size: 20px;
}
.contents {
    width: 1130px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 50px 0;
    background: #fff;
}
.contents .header img {
    width: 100%;
    height: 710px;
    object-fit: cover;
}
.contents .sub-img img {
    width: 400px;
    bottom: 150px;
    position: relative;
    z-index: 1;
}
.contents .content-1 {
    display: flex;
    margin: 0 0 50px 0;
}
.contents .content-1 .category img {
    margin: 5px 5px 0;
    width: 70px;
}
.contents .content-1 .right-content {
    font-size: 14px;
    font-weight: 100;
    line-height: 25px;
    width: 700px;
    margin: 60px 0 0 20px;
}
.contents .content-2 {
    display: flex;
    margin: 0 0 50px 0;
}
.contents .content-2 .category img {
    margin: 5px 5px 0;
    width: 70px;
}
.contents .content-2 .right-content {
    font-size: 14px;
    font-weight: 100;
    line-height: 25px;
    width: 700px;
    margin: 5px 0 0 80px;
}
.contents .content-2 .right-content p {
    margin: 0 0 40px 0;
}
.contents .content-2 .right-content .right-content-table {
    display: flex;
    font-size: 14px;
    margin: 0 0 15px 0;
}
.contents .content-2 .right-content .right-content-table dt {
    width: 100px;
}
.contents .content-2 .right-content .right-content-table dd {
    width: 400px;
}
.contents .content-2 .sub-img-right img {
    width: 100%;
    right: 75px;
    position: relative;
}
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    margin: 50px auto;
}
.footer .footer-contents {
    width: 1130px;
    margin: 0 auto;
    color: #000;
    padding: 40px 100px;
}
.footer .footer-contents .footer-content {
    display: flex;
}
.footer .footer-contents .footer-content .explanation{
    margin: 0 40px 0 0;
}
.footer .footer-contents .footer-content .category{
    margin: 0 40px 0 0;
}
.footer .footer-contents .footer-content .footer-content-title {
    font-size: 13px;
    font-weight: 500;
    color: #000;
    margin: 0 0 15px 0;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
.footer .footer-contents .footer-content .footer-content-comment {
    font-size: 11px;
    font-weight: 300;
}
.footer .footer-contents .footer-content .footer-content-comment ul {
    list-style: none;
}
.footer .footer-contents .footer-content .footer-content-comment ul li {
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-comment a {
    color: #000;
    text-decoration: none;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab {
    font-size: 15px;
    color: #000;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0;
    border: 1px solid #000;
    border-radius: 3px;
}
.footer p {
    font-size: 10px;
    padding: 50px 0 0 0;
}

@media screen and (min-width:1130px) {
    .container .left-side {
        display: block;
    }
    .footer .footer-contents {
        padding: 40px 0;
    }
}