/* font-family: 'Noto Serif JP', serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
    color: #fff;
    text-decoration: none;
}

/* js */
/* slick slider */
/* 効果をかけるためのスタイル設定 */
#slick-main .slick-slide{
	/* slickによってelement.styleで付けられるopacityを無効化 */
	opacity: 1 !important;
}
#slick-main .slideobject{
	/* フェード要素の初期設定 */
	opacity: 0;
	transition: 0s;
}
#slick-main .slick-active .slideobject{
	/* slick-active(効果開始)の際のフェード設定 */
	/* [重要]slick側の設定と同じdurationを取る */
	opacity: 1;
	transition: ease 5.0s;
}
#slick-main .slick-continue .slideobject{
	/* エフェクトの継続用に付与したslick-continueのフェード設定 */
	/* [重要]slick側の設定と同じdurationを取る */
	opacity: 0;
	transition: ease 5.0s;
}
#slick-main figure.image{
	/* 画像 ズーム要素の初期設定 */
	transform: scale(1.0, 1.0);
	transition: 0s;
}
#slick-main .slick-active figure.image{
	/* 画像　slick-active(効果開始) */
	/* ズームをかける要素には必ずフェードに対して大きめのtransition-durationを取る */
	transform: scale(1.2, 1.2);
	transition: ease 10.0s; 
}
#slick-main .slick-continue figure.image{
	/* 画像　slick-continue */
	/* ズームをかける要素には必ずフェードに対して大きめのtransition-durationを取る */
	transform: scale(1.4, 1.4);
	transition: ease 10.0s;
}
/* スライド周りの基本スタイル */
.slideobject{
	overflow: hidden;
	vertical-align: middle;
}
.slideobject figure.image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/* slick slider */

.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 8px 0 0 0;
    border: 1px solid #fff;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    color: #fff;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    opacity: .5;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #fff;
    bottom: 115px;
    left: 45%;
    position: absolute;
    opacity: .5;
}

.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #fff;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
    transform:rotate(90deg);
    top: 40px;
    right: 65px;
    position: relative;
    opacity: .5;
}
/* js */

body {
    font-family: sans-serif;
    width: 100%;
    background: #121212;
    overflow-x: hidden;
}
.logo img {
    width: 120px;
    top: 30px;
    left: 30px;
    position: fixed;
    z-index: 1;
}
.header {
    max-width: 100%;
    margin: 0 auto;
}
.header ul {
    list-style: none;
    top: 30px;
    right: 30px;
    position: fixed;
    z-index: 1;
}
.header ul li {
    display: inline-block;
    margin: 0 35px 0 0;
}
.header ul li a {
    text-decoration: none;
    font-size: 13px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    color: #fff;
    text-shadow: 0 0 10px #000;
    letter-spacing: 1px;
    padding: 5px 0.2px;
    transition: .5s;
    box-sizing: border-box;
}
.header ul li a:hover {
    opacity: .75;
    border-bottom: 1px solid #fff;
}
.main {
    width: 100%;
    height: 93%;
    object-fit: cover;
}
.main h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5vw;
    font-weight: 100;
    color: #fff;
    letter-spacing: 1em;
    text-shadow: 0 0 10px #000;
    -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
    top: 30%;
    left: 47%;
    position: absolute;
    z-index: 1;
}
.contents {
	width: 100%;
    margin: 0 auto;
}
.contents .content {
    display: flex;
}
.contents .content .content-item {
    flex: 1;
    font-family: 'Noto Serif JP', serif;
    height: 300px;
}
.contents .content .content-item {
    color: #fff;
    text-align: center;
}
.contents .content .content-item:hover {
    opacity: .5;
}
.contents .content .content-item .photo1,
.contents .content .content-item .photo2,
.contents .content .content-item .photo3,
.contents .content .content-item .photo4,
.contents .content .content-item .photo5,
.contents .content .content-item .photo6,
.contents .content .content-item .photo7,
.contents .content .content-item .photo8,
.contents .content .content-item .photo9 {
    padding: 100px;
}
.contents .content .content-item .photo1 .title,
.contents .content .content-item .photo2 .title,
.contents .content .content-item .photo3 .title,
.contents .content .content-item .photo4 .title,
.contents .content .content-item .photo5 .title,
.contents .content .content-item .photo6 .title,
.contents .content .content-item .photo7 .title,
.contents .content .content-item .photo8 .title,
.contents .content .content-item .photo9 .title {
    font-size: 25px;
    font-weight: 100;
    letter-spacing: .25em;
    text-shadow: 0 0 10px #000;
    margin: 0 0 25px 0;
}
.contents .content .content-item .photo1 p,
.contents .content .content-item .photo2 p,
.contents .content .content-item .photo3 p,
.contents .content .content-item .photo4 p,
.contents .content .content-item .photo5 p,
.contents .content .content-item .photo6 p,
.contents .content .content-item .photo7 p,
.contents .content .content-item .photo8 p,
.contents .content .content-item .photo9 p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: .15em;
    text-shadow: 0 0 10px #000;
}

/* コンテンツ画像 */
.contents .content .content-item .photo1 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(../img/img1.jpg);
    background-position: center;
    background-size: cover;
}
.contents .content .content-item .photo2 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(../img/img2.jpg);
    background-position: center;
    background-size: cover;
}
.contents .content .content-item .photo3 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(../img/img3.jpg);
    background-position: center;
    background-size: cover;
}
.contents .content .content-item .photo4 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(../img/img4.jpg);
    background-position: center;
    background-size: cover;
}
.contents .content .content-item .photo5 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(../img/img5.jpg);
    background-position: center;
    background-size: cover;
}
.contents .content .content-item .photo6 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(../img/img6.jpg);
    background-position: center;
    background-size: cover;
}
.contents .content .content-item .photo7 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(../img/img7.jpg);
    background-position: center;
    background-size: cover;
}
.contents .content .content-item .photo8 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(../img/img8.jpg);
    background-position: center;
    background-size: cover;
}
.contents .content .content-item .photo9 {
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(../img/img9.jpg); */
    background-position: center;
    background-size: cover;
}
/* コンテンツ画像 */

.footer {
    width: 100%;
    height: auto;
    color: #fff;
    margin: 0 auto 0;
    padding: 50px 0 0 0;
}
.footer .footer-contents {
    width: 75%;
    margin: 0 auto;
    color: #5d6473;
    padding: 40px 0;
}
.footer .footer-contents .footer-content {
    display: flex;
}
.footer .footer-contents .footer-content .explanation{
    margin: 0 100px 0 0;
}
.footer .footer-contents .footer-content .category{
    margin: 0 100px 0 0;
}
.footer .footer-contents .footer-content .footer-content-title {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 15px 0;
}
.footer .footer-contents .footer-content .footer-content-comment {
    font-size: 11px;
    font-weight: 300;
}
.footer .footer-contents .footer-content .footer-content-comment ul {
    list-style: none;
}
.footer .footer-contents .footer-content .footer-content-comment ul li {
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-comment a {
    color: #5d6473;
    text-decoration: none;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab {
    font-size: 15px;
    color: #fff;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0;
    border: 1px solid #5d6473;
    border-radius: 3px;
}
.footer p {
    font-size: 10px;
    padding: 50px 0 0 0;
}