/* font-family: 'Noto Serif JP', serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');
/* font-family: 'Crimson Text', serif; */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
/* font-family: 'Cormorant', serif; */
@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');

* {
    margin: 0;
    padding: 0;
}
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top {
    position: fixed;
    bottom: 100px;
    right: 100px;
}
#page-top a {
    display: block;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}
#page-top a::after {
    content: '';
    display: block;
    width: 1px;
    height: 200px;
    position: fixed;
    z-index: -1;
    right: 170px;
    bottom: 200px;
    background: rgba(0, 0, 0, .2);
    transform: rotate(135deg);
    transform-origin: left bottom;
}
#page-top a:hover {
    opacity: .5;
}
body {
    letter-spacing: -0.01em;
    font-size: 12px;
    line-height: 2.5;
    color: #000;
    background: #dadada;
    font-family: 'Crimson Text','Noto Serif JP', serif;
}
.container {
    display: flex;
}
.left-header {
    width: 500px;
    margin: 0 50px 0 0;
}
.left-header img {
    width: 105px;
    left: 60px;
    bottom: 85px;
    position: fixed;
}
.left-header .main-nav {
    font-size: 35px;
    line-height: 40px;
    list-style: none;
    left: 200px;
    bottom: 275px;
    position: fixed;
}
.left-header .main-nav::after {
    content: '';
    display: block;
    width: 1px;
    height: 240px;
    position: fixed;
    z-index: -1;
    left: 165px;
    bottom: 232px;
    background: rgba(0, 0, 0, .2);
    transform: rotate(36deg);
    transform-origin: left bottom;
}
.left-header .main-nav a {
    color: #000;
    text-decoration: none;
}
.left-header .sub-nav {
    font-size: 20px;
    line-height: 25px;
    list-style: none;
    left: 200px;
    bottom: 180px;
    position: fixed;
}
.left-header .sub-nav a {
    color: #696969;
    text-decoration: none;
}
.left-header ul li:hover {
    opacity: .5;
}
.right-contents {
    width: 100%;
    margin: 0 0 100px 0;
}
.right-contents .main-image {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
}
.right-contents p.jp {
    text-align: left;
    margin: 30px 10vw 0 0;
}
.right-contents .title-copy {
    letter-spacing: 0.1em;
    text-align: right;
    font-size: 20px;
    font-family: 'Cormorant', serif; 
    margin: 50px 10vw 15px 0;
}
.right-contents p.en {
    letter-spacing: 0.1em;
    color: #696969;
    text-align: right;
    font-family: 'Cormorant', serif; 
    line-height: 1.7;
    margin: 0 10vw 100px 0;
}
.right-contents p.en-2 {
    margin: 30px 10vw 100px 0;
}
.right-contents .head-button a {
    display: block;
    width: 200px;
    height: 65px;
    font-size: 20px;
    font-family: 'Cormorant', serif;
    text-align: center;
    text-decoration: none;
    padding: 5px 0 15px 0;
    background: #444444;
    color: #fff;
    right: 75px;
    top: 0;
    position: fixed;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.3);
    box-sizing: border-box;
    transition: .5s;
    z-index: 1;
}
.right-contents .head-button a:hover {
    background: #808080;
}
.right-contents .head-button a span {
    font-size: 10px;
    margin: 0 0 0 10px;
}
.right-contents .head-button a span::before,
.right-contents .head-button a span::after {
    content: "ー";
}
.right-contents .content {
    display: flex;
}
.content .content-title {
    width: 120px;
    height: 100%;
    font-size: 45px;
}
.content .content-title p {
    text-align: right;
    left: -55px;
    position: relative;
}
.content .content-title::after {
    content: '';
    display: block;
    width: 1px;
    height: 200px;
    position: relative;
    z-index: -1;
    left: -45px;
    bottom: 110px;
    background: rgba(0, 0, 0, .5);
    transform: rotate(36deg);
    transform-origin: left bottom;
}
.content .content-component {
    width: 100%;
    margin: 100px 0 0 0;
}
.right-contents .content .content-image {
    width: 90%;
    object-fit: cover;
}
footer p {
    font-size: 10px;
    color: #696969;
    text-align: center;
    margin: 50px 50px 50px 0;
}
