/* #efecea #79726e */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #fff;
    text-decoration: none;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    background: rgb(6, 59, 138);
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
    opacity: .5;;
}
/* js */

body {
    width: 100%;
    background: #efecea;
}
.container .left-side {
    width: auto;
    height: 100%;
    padding: 20px;
    position: fixed;
    object-fit: cover;
    background: #79726e;
}
.container .left-side a {
    text-decoration: none;
}
.container .left-side .fas {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 10px 5px 5px 5px;
    border-radius: 50%;
    background: #79726e;
    transition: .5s;
}
.contents {
    width: auto;
    height: 100%;
    margin: 0 75px 0 80px;
    padding: 75px 150px;
}
.contents h1 {
    font-size: 2.5vw;
    font-weight: 500;
    text-align: center;
    color: #79726e;
    margin: 0 0 50px 0;
    opacity: .6;
}
.contents h1::before {
    content: '';
    display: inline-block;
    border-bottom: 1px solid #79726e;
    height: 1px;
    width: 75px;
    margin:0 5px 15px 0;
}
.contents h1::after {
    content: '';
    display: inline-block;
    border-bottom: 1px solid #79726e;
    height: 1px;
    width: 75px;
    margin:0 0 15px 5px;
}
.contents .content {
    display: flex;
    justify-content: space-between;
}
.contents .content .content-box {
    width: 100%;
    height: auto;
    margin: 0 15px;
}
.contents .content .content-item {
    text-align: left;
    color: #535f77;
    margin: 0 0 20px 0;
    background: #fff;
    border-left: 10px solid #ccc;
    border-radius: 3px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
    transition: 1s;
}
.contents .content .orange {
    border-left: 10px solid #ff7f50;
}
.contents .content .green {
    border-left: 10px solid #3cb371;
}
.contents .content .blue {
    border-left: 10px solid #4169e1;
}
.contents .content .content-box .state {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px 10px;
    margin: 0 0 10px 0;
    color: #fff;
    border-top: 5px solid #fff;
    border-radius: 3px;
    background: #ccc;
}
.contents .content .content-box .orange-back {
    background: #ff7f50;
}
.contents .content .content-box .green-back {
    background: #3cb371;
}
.contents .content .content-box .blue-back {
    background: #4169e1;
}
.contents .content .content-item .inner-content-item {
    padding: 15px;
}
.contents .content .content-item .inner-content-item .title-name {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}
.contents .content .content-item .inner-content-item .title-name .id {
    font-size: 15px;
    font-weight: 100;
}
.contents .content .content-item .inner-content-item p {
    font-size: 13px;
    font-weight: 100;
    text-align: justify;
    color: #5d6473;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}
.contents .content .content-item .inner-content-item a {
    font-size: 15px;
    color: #5d6473;
    margin: 0 5px 0 0;
}
.contents .content .content-item .inner-content-item .datetime {
    font-size: 13px;
    font-weight: 100;
}
.contents .content .content-item .inner-content-item .action {
    display: flex;
    justify-content: space-between;
}
.contents .content .content-item .inner-content-item .action .right-action {
    font-size: 10px;
    font-weight: 100;
    top: 7px;
    position: relative;
}
.contents .content .content-item .inner-content-item .action .right-action::after {
    content: "　";
    width: 10px;
    height: 10px;
    background: #ffdab9;
    border-radius: 50%;
    margin: 0 0 0 5px;
}
.footer p {
    font-size: 10px;
    text-align: center;
    color: #79726e;
    margin: 100px 0 50px;
}