@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
* {
    margin: 0;
    padding: 0;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
body {
    background: linear-gradient(135deg,rgb(74,13,143) 0%, rgb(250,42,143) 100%);
    height: 100vh;
}
ul {
    float: right;
    list-style: none;
    margin: 25px 0 0 0;
}
ul li {
    display: inline-block;
    margin: 0 40px 0 0;
}
ul li a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(255,255,255,.5);
    padding: 5px 0.2px;
    transition: .5s;
    box-sizing: border-box;
}
ul li a:hover {
    opacity: .75;
    border-bottom: 1px solid #cd99d4;
}
ul li a.active {
    border-bottom: 1px solid #cd99d4;
    color: #fff;
}
ul li a.download {
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 3px;
    color: #fff;
    transition: .5s;
}
ul li a.download:hover {
    color: rgb(74,13,143);
    border: 1px solid #cd99d4;
    background: #cd99d4;
}
.logo img {
    height: 30px;
    float: left;
    margin: 30px 0 0 30px;
    opacity: .8;
}
.main {
    max-width: 980px;
    margin: 0 auto;
}
.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 300;
    font-family: 'Poiret One', cursive;
    text-align: center;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
}
.title p {
    color: #ffb8f6;
    font-size: 16px;
    text-align: center;
}
.image {
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%,-50%);
    height: 0;
}
.image img {
    width: 50%;
}