/* font-family: 'Hammersmith One', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 12px 0 0 0;
    border: 1px solid #000;
    background: #000;
    transition: .5s;
    left: 0;
    bottom: 0;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #79726e;
    bottom: 50px;
    right: 0;
    position: absolute;
    transform:rotate(90deg);
}
.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #79726e;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
}
/* js */

body {
    width: 100%;
    background: #ffdb00;
}
.header {
    display: flex;
    width: 100%;
    height: auto;
    padding: 45px 45px 0;
}
.header .title-area {
    width: 80%;
    padding: 30px;
    border: 4px solid #000;
}
.header .title-area img {
    width: 200px;
    margin: 0 0 75px;
    right:45px;
    position: relative;
    z-index: 1;
}
.header .title-area h1 {
    font-size: 45px;
    font-family: 'Hammersmith One', sans-serif;
    line-height: 50px;
    font-weight: bold;
}
.header .navi-area {
    width: 20%;
    padding: 30px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    background: #000;
    transition: 1s;
}
.header .navi-area ul li {
    text-align: right;
    list-style: none;
}
.header .navi-area ul li a {
    font-size: 15px;
    font-weight: 100;
    line-height: 35px;
    color: #fff;
}
.header .navi-area ul li .active {
    font-weight: bold;
}
.header .navi-area ul li a:hover {
    border-bottom: 1px solid #000;
}
.main {
    display: flex;
    padding: 0 45px;
}
.main .left-main {
    display: flex;
    width: 80%;
    height: 400px;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    border-left: 4px solid #000;
}
.main .left-main .inner-left-main {
    width: 500px;
    height: auto;
    padding: 30px;
    border-right: 4px solid #000;
    background: #000;
}
.main .left-main .inner-left-main h3 {
    font-size: 17px;
    color: #ffdb00;
    margin: 0 0 255px 0;
}
.main .left-main .inner-left-main h4 a {
    font-size: 14px;
    color: #ffdb00;
    line-height: 20px;
    font-weight: 400;
}
.main .left-main .inner-right-main {
    width: 100%;
    overflow: hidden;
}
.main .left-main .inner-right-main .image {
    width: 100%;

    min-height: 70vh;
    background-size: cover;
    background-position: center;
}
.separate {
    display: flex;
    padding: 0 45px;
}
.separate .left-separate {
    display: flex;
    width: 80%;
    height: 100px;
    border-right: transparent;
    border-bottom: transparent;
    border-left: transparent;
}
.separate .left-separate .inner-left-separate {
    width: 500px;
    padding: 30px;
}
.separate .left-separate .inner-right-separate {
    width: 100%;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    border-left: 4px solid #000;
    background-image: url(../img/pattern.png);
    background-size: 30px;
}
.contents {
    display: flex;
    padding: 0 45px;
}
.contents .left-contents {
    display: flex;
    width: 80%;
    height: 250px;
    border-right: transparent;
    border-bottom: transparent;
    border-left: transparent;
}
.contents .left-contents .inner-left-contents {
    width: 500px;
    padding: 30px;
}
.contents .left-contents .inner-right-contents {
    width: 100%;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    border-left: 4px solid #000;
}
.contents .left-contents .inner-right-contents h3 {
    font-size: 17px;
    color: #000;
    margin: 0 0 120px 0;
    top: 30px;
    left: 30px;
    position: relative;
}
.contents .left-contents .inner-right-contents h4 a {
    font-size: 14px;
    color: #000;
    line-height: 20px;
    font-weight: 400;
    left: 30px;
    position: relative;
}
.footer {
    width: 91%;
    margin: 50px auto;
    height: auto;
}
.footer .footer-contents {
    width: 75%;
    margin: 0 auto;
    color: #000;
    padding: 40px 0;
}
.footer .footer-contents .footer-content {
    display: flex;
    justify-content: center;
}
.footer .footer-contents .footer-content .explanation{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .category{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .footer-content-title {
    font-size: 13px;
    font-weight: 500;
    color: #000;
    margin: 0 0 15px 0;
}
.footer .footer-contents .footer-content .footer-content-comment {
    font-size: 11px;
    font-weight: 300;
}
.footer .footer-contents .footer-content .footer-content-comment ul {
    list-style: none;
}
.footer .footer-contents .footer-content .footer-content-comment ul li {
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-comment a {
    color: #000;
    text-decoration: none;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab {
    font-size: 15px;
    color: #000;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0;
    border: 1px solid #000;
    border-radius: 3px;
    transition: .5s;
}
.footer p {
    font-size: 10px;
    text-align: center;
    padding: 50px 0 0 0;
}