* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    background: rgb(6, 59, 138);
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
    opacity: .5;;
}
/* js */

body {
    width: 100%;
    background: rgb(7, 71, 166);
}
.container .left-side {
    width: auto;
    height: 100%;
    padding: 20px;
    position: fixed;
    object-fit: cover;
}
.container .left-side a {
    text-decoration: none;
}
.container .left-side .fas {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 11px 5px 5px 5px;
    border-radius: 50%;
    background: rgb(7, 71, 166);
    transition: .5s;
}
.container .left-side .fas:hover {
    background: rgb(6, 59, 138);
}
.container .left-side .fa-user {
    padding: 8px 5px 5px 5px;
    border: 2px solid #fff;
    background: #ccc;
    left: 20px;
    bottom: 10px;
    position: fixed;
}
.contents {
    width: auto;
    height: 100%;
    margin: 0 75px 0 80px;
    padding: 75px 150px;
}
.contents h1 {
    font-size: 3vw;
    text-align: center;
    color: #fff;
    margin: 0 0 15px 0;
    opacity: .6;
}
.contents h2 {
    font-size: 1.25vw;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    margin: 0 0 75px 0;
}
.contents .content {
    display: flex;
    justify-content: space-between;
}
.contents .content .content-box {
    flex: 2;
    width: 100%;
    height: auto;
    margin: 0 70px;
}
.contents .content .content-item {
    text-align: left;
    color: #535f77;
    margin: 0 0 20px 0;
    background: #fff;
    border-radius: 3px;
    transition: 1s;
}
.contents .content .content-item:hover{
    transform: translateY(-10px);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    opacity: .8;
}
.contents .content .content-item .content-item-title {
    display: flex;
    padding: 15px 15px 5px;
}
.contents .content .content-item .content-item-title .thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.contents .content .content-item .content-item-title .title-name {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}
.contents .content .content-item .content-item-title .title-name span {
    font-size: 10px;
    font-weight: 100;
}
.contents .content .content-item p {
    font-size: 13px;
    font-weight: 300;
    padding: 15px 15px 15px;
}
.contents .content .content-item img {
    width: 100%;
    vertical-align: bottom;
    border-radius: 0 0 3px 3px;
}
.contents .content .content-side {
    flex: 1;
}
.contents .content .content-side .content-side-item {
    color: #fff;
    width: 250px;
    margin: 0 auto;
}
.contents .content .content-side .content-side-item img {
    width: 150px;
    margin: 0 50px;
    border-radius: 50%;
}
.contents .content .content-side .content-side-item .user-name {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    margin: 0 0 20px 0;
}
.contents .content .content-side .content-side-item p {
    font-size: 12px;
    font-weight: 300;
    width: 200px;
    word-break: break-all;
    text-align: justify;
    line-height: 20px;
    margin: 0 auto;
}
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    margin: 50px auto 0;
    background: #222835;
}
.footer .footer-contents {
    width: 75%;
    margin: 0 auto;
    color: #5d6473;
    padding: 40px 0;
}
.footer .footer-contents .footer-content {
    display: flex;
}
.footer .footer-contents .footer-content .explanation{
    flex: 2;
}
.footer .footer-contents .footer-content .category{
    flex: 1;
}
.footer .footer-contents .footer-content .menu{
    flex: 1;
}
.footer .footer-contents .footer-content .download {
    flex: 1;
}
.footer .footer-contents .footer-content .download img{
    display: block;
    width: 50%;
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-title {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 15px 0;
}
.footer .footer-contents .footer-content .footer-content-comment {
    font-size: 11px;
    font-weight: 300;
}
.footer .footer-contents .footer-content .footer-content-comment ul {
    list-style: none;
}
.footer .footer-contents .footer-content .footer-content-comment ul li {
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-comment a {
    color: #5d6473;
    text-decoration: none;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab {
    font-size: 15px;
    color: #fff;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0;
    border: 1px solid #5d6473;
    border-radius: 3px;
}
.footer p {
    font-size: 10px;
    padding: 50px 0 0 0;
}