* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.border {
    border-bottom:1px solid #000;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 15px 0 0 0;
    background: #ff3d98;
    transition: .5s;
    right: 0;
    bottom: 0;
    position: fixed;
}
#page-top a:hover {
    color: #ff3d98;
    border: 1px solid #ff3d98;
    background: #fff;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #79726e;
    bottom: 50px;
    right: 0;
    position: absolute;
    transform:rotate(90deg);
}
.main .scroll-down::after {
    content: '';
    display: inline-block;
    background: #79726e;
    height: 1px;
    width: 50px;
    margin:0 0 2px 0;
}
.multiple {
    padding: 0;
}
.multiple img {
    width: 90%;
    margin: 0 auto;
}
.multiple .slick-next {
    right: 17px;
    z-index: 100;
}
.multiple .slick-prev {
    left: 23px;
    z-index: 100;
}
.slick-dots li button:before {
    font-size: 30px;
    line-height: 60px;
}
.slick-slide {
    opacity: 0.5;
    transition: 0.5s;
    transform: scale(1);
}
.slick-current {
    opacity: 1;
    transform: scale(1);
}
.slick-slide:focus {
    outline: none;
}
.thumb-item-nav {
    width: 50%;
    margin: 0 auto;
}
.thumb-item-nav li {
    margin: 10px 0 0 0;
}
.thumb-item-nav li img {
    width: 100%;
    padding: 0 10px;
}
.thumb-new-item-nav {
    width: 100%;
    margin: 0 auto;
}
.thumb-new-item-nav li {
    margin: 10px 0 50px 0;
}
.thumb-new-item-nav li img {
    height: 250px;
}
/* js */

body {
    width: 100%;
}
.header {
    width: 100%;
    margin: 0 auto;
}
.header .top-navi {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #000;
    background: #fff;
    position: fixed;
    z-index: 1;
}
.header .top-navi .top-navi-right {
    display: flex;
    justify-content: flex-end;
}
.header .top-navi .top-navi-right ul {
    display: flex;
    margin: 25px 0;
}
.header .top-navi .top-navi-right ul li {
    font-size: 11px;
    font-weight: 100;
    list-style: none;
    letter-spacing: 1px;
}
.header .top-navi .top-navi-right ul li::after {
    content: '>';
    margin: 0 10px 0;
}
.header .top-navi .top-navi-right ul li a {
    color: #79726e;
    transition: .5s;
}
.header .top-navi .top-navi-right ul li a:hover {
    color: #ff3d98;
}
.header .top-navi .top-navi-right .search-input {
    font-size: 13px;
    color: #79726e;
    width: 200px;
    height: 35px;
    padding: 15px;
    border: none;
    border-radius: 3px;
    background: #eee;
    top: 15px;
    position: relative;
}
.header .bottom-navi {
    height: 70px;
    padding: 70px 20px;
    border-bottom: 1px solid #eee;
}
.header .bottom-navi ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 25px 0 0;
}
.header .bottom-navi ul li {
    font-size: 15px;
    list-style: none;
    letter-spacing: 1px;
    margin: 0 30px 0 0;
    padding: 0 30px 0 0;
    border-right: 1px solid #eee;
}
.header .bottom-navi ul li:first-child {
    padding: 0 30px 0 30px;
    border-left: 1px solid #eee;
}
.header .bottom-navi ul li a {
    color: #000;
    transition: .5s;
}
.header .bottom-navi ul li a:hover {
    color: #ff3d98;
}
.main {
    width: 100%;
    margin: 20px auto 0;
}
.contents {
    width: 85%;
    margin: 0 auto 100px;
}
.contents .contents-title {
    display: flex;
    justify-content: space-between;
    margin: 75px 0 30px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #000;
}
.contents .contents-title h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}
.contents .contents-title .more-link a {
    font-size: 12px;
    font-weight: 100;
    color: #79726e;
    transition: .5s;
}
.contents .contents-title .more-link a:hover {
    color: #ff3d98;
}
.contents .contents-title .more-link a::after {
    content: '>';
    margin: 0 0 0 5px;
    bottom: 1px;
    position: relative;
}
.contents a .more-button {
    font-size: 13px;
    font-weight: 100;
    width: 300px;
    height: 50px;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid #696969;
    background: #696969;
    margin: 0 auto;
    padding: 15px 0 0 0;
    transition: .5s;
}
.contents a .more-button:hover {
    color: #696969;
    background: #fff;
}
.contents .contents-info .contents-info-row {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}
.contents .contents-info .contents-info-row .info-date {
    font-size: 11px;
    font-weight: bold;
    color: #ccc;
}
.contents .contents-info .contents-info-row .info-date span {
    font-size: 10px;
    font-weight: 100;
    margin: 0 10px 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
}
.contents .contents-info .contents-info-row .info {
    font-size: 14px;
    font-weight: 100;
}
.footer {
    width: 85%;
    margin: 50px auto;
    height: auto;
}
.footer .footer-contents {
    width: 75%;
    margin: 0 auto;
    color: #000;
    padding: 40px 0;
}
.footer .footer-contents .footer-content {
    display: flex;
    justify-content: center;
}
.footer .footer-contents .footer-content .explanation{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .category{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .footer-content-title {
    font-size: 13px;
    font-weight: 500;
    color: #000;
    margin: 0 0 15px 0;
}
.footer .footer-contents .footer-content .footer-content-comment {
    font-size: 11px;
    font-weight: 300;
}
.footer .footer-contents .footer-content .footer-content-comment ul {
    list-style: none;
}
.footer .footer-contents .footer-content .footer-content-comment ul li {
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-comment a {
    color: #000;
    text-decoration: none;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab {
    font-size: 15px;
    color: #000;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0;
    border: 1px solid #000;
    border-radius: 3px;
    transition: .5s;
}
.footer p {
    font-size: 10px;
    text-align: center;
    padding: 50px 0 0 0;
}