/* font-family: 'Odibee Sans', cursive; */
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
    transition: .5s;
    right: 50px;
    bottom: 100px;
    position: fixed;
    z-index: 5;
}
#page-top a:hover {
    color: #fff;
    background: #000;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.main .scroll-down {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0;
    color: #fff;
    bottom: 100px;
    right: 0;
    position: absolute;
}
.main .scroll-down::after {
    content: '';
    display: block;
    background: #fff;
    height: 1px;
    width: 100px;
}
/* js */

/* @サイドメニュー */
#sidebarMenu {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transform: translateX(100%);
    transition: transform -250ms ease-in-out;
    padding: 50px 100px;
    background: #1f1f1f;
    z-index: 2;
}
#sidebarMenu ul {
    margin: 125px 0 0 0;
}
.sidebarMenuInner li {
    font-size: 40px;
    font-family: 'Odibee Sans', cursive;
    line-height: 70px;
    letter-spacing: 2px;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
}
.sidebarMenuInner li:hover {
    opacity: .5;
    transform: translate(50px,0);
}
.sidebarMenuInner a {
    color: #eee;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    cursor: pointer;
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    top: 50px;
    right: 100px;
    width: 30px;
}
.spinner {
    transition: all 0.3s;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
}
.horizontal {
    transition: all 0.3s;
    position: relative;
    float: left;
    margin-top: 5px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    position: relative;
    float: left;
    margin-top: 5px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    transform: rotate(135deg);
    margin-top: 11.5px;
    background: #fff;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    transform: rotate(-135deg);
    margin-top: -8.5px;
    background: #fff;
}
/* @end サイドメニュー */

body {
    width: 100%;
}
.header {
    width: 100%;
    height: 150px;
}
.header .logo {
    font-size: 30px;
    font-family: 'Odibee Sans', cursive;
    letter-spacing: 1px;
    top: 50px;
    left: 100px;
    position: fixed;
}
.header #sidebarMenu .logo {
    color: #eee;
}
.header .logo .icon-logo {
    bottom: 4px;
    position: relative;
}
.header .logo .sub-logo {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    color: #79726e;
    margin: 0 0 0 10px;
    bottom: 6px;
    position: relative;
}
.main {
    width: 95%;
    height: 80vh;
    margin: 0 0 0 auto;
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}
.main .sub-title {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    color: #fff;
    padding: 35vh 0 0 5vw;
}
/* @flowing */
/* 表示領域 */
.area {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 1vh 0 0 0;
}
/* 表示領域に合わせてサイズと余白を設定 */
.flowing {
    font-size: 75px;
    font-family: 'Odibee Sans', cursive;
    font-weight: bold;
    letter-spacing: 20px;
    color: #fff;
    width: 100%;
    padding-left: 50px;
    white-space: nowrap;
    animation-name: flowing;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes flowing {
    from    { transform: translate(0%); } 
    100%,to { transform: translate(-100%); }
}
/* @end flowing */
.contents {
    width: 95%;
    margin: 0 0 100px auto;
    padding: 0 125px 0;
}
.contents .contents-box {
    display: flex;
}
.contents .contents-box .left-contents-box {
    width: 50%;
    padding: 40px;
    background: #fff;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
    bottom: 30px;
    position: relative;
    z-index: 1;
}
.contents .contents-box .left-contents-box .id {
    font-family: 'Raleway', sans-serif;
    width: 20px;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #000;
}
.contents .contents-box .left-contents-box .title {
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 2px;
    margin: 0 0 30px 0;
}
.contents .contents-box .left-contents-box p {
    font-size: 13px;
    font-weight: 100;
    line-height: 25px;
    margin: 0 0 40px 0;
}
.contents .contents-box .left-contents-box a .more-button {
    font-size: 13px;
    text-align: center;
    width: 200px;
    padding: 15px;
    border: 1px solid #000;
    transition: .5s;
}
.contents .contents-box .left-contents-box a .more-button:hover {
    color: #fff;
    background: #000;
}
.contents .contents-box .right-contents-box {
    width: 50%;
}
.contents .contents-box .right-contents-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    top: 120px;
    position: relative;
}
.footer {
    height: auto;
    color: rgb(148, 148, 148);
    width: 100%;
    padding: 100px 100px 50px;
    background: #1f1f1f;;
}
.footer .address {
    font-size: 11px;
    color: #fff;
    letter-spacing: 1px;
    margin: 0 0 30px 0;
}
.footer ul li {
    display: inline-block;
    font-size: 10px;
    font-weight: 100;
    color: rgb(148, 148, 148);
    letter-spacing: 1px;
    list-style: none;
    margin: 0 30px 100px 0;
    transition: .5s;
}
.footer ul li:hover {
    color: #fff;
}
.footer .credit {
    display: flex;
    justify-content: space-between;
}
.footer .credit p {
    font-size: 10px;
}
.footer .credit .logo {
    font-size: 30px;
    font-family: 'Odibee Sans', cursive;
    color: #fff;
    letter-spacing: 1px;
}
.footer .credit .logo .icon-logo {
    bottom: 4px;
    position: relative;
}