/* font-family: 'Noto Serif JP', serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}
#page-top a:hover {
    opacity: .5;
}
/* js */

body {
    color: #5e5e5e;
    font-size: 13px;
    letter-spacing: .1em;
}
.logo img {
    width: 120px;
    top: 30px;
    left: 30px;
    position: fixed;
    z-index: 1;
}
.header {
    max-width: 100%;
    margin: 0 auto;
}
ul {
    list-style: none;
    top: 30px;
    right: 30px;
    position: fixed;
    z-index: 1;
}
ul li {
    display: inline-block;
    margin: 0 25px 0 0;
}
ul li a {
    text-decoration: none;
    font-size: 10px;
    color: #5e5e5e;
    padding: 5px 0.2px;
    transition: .5s;
    box-sizing: border-box;
}
ul li a:hover {
    opacity: .75;
    border-bottom: 1px solid #008000;
}
ul li a.download {
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 3px;
    color: #fff;
    transition: .5s;
}
.container {
    width: 100%;
    height: auto;
    margin: 80px auto 100px;
}
.main {
    display: flex;
    font-family: 'Noto Serif JP', serif;
    padding: 0 0 80px 0;
}
.main-left {
    width: 27%;
    padding: 20vw 5vw 0;
}
.main-left h1 {
    font-size: 13px;
    font-weight: 100;
    margin: 0 0 50px 0;
}
.main-left p {
    font-size: 10px;
    line-height: 2.2em;
}
.main-right {
    width: 70%;
    flex: 1;
}
.main-right img {
    width: 100%;
}
.main-right-text {
    display: flex;
    margin: 40px 0 20px 0;
}
.main-right h6 {
    font-size: 10px;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin: 5px 0 0 0;
}
.main-right h6 span {
    font-weight: 100;
    border-bottom: 1px solid #5e5e5e;
}
.main-right p {
    flex: 1;
    font-size: 12px;
    line-height: 2.2em;
    padding: 0 50px 0 80px;
}
.main-right p .en {
    font-size: 10px;
}
.content {
    display: flex;
}
.content img {
    width: 33.33%;
    height: 480px;
    object-fit: cover;
}
.content-2 {
    display: flex;
    flex-direction: row-reverse;
}
.content-2 img {
    width: 33.33%;
    height: 480px;
    object-fit: cover;
}
.content-text {
    width: 33.33%;
    height: 480px;
    padding: 100px 50px;
    background: #f5f5f0;
}
.content-text h6 {
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin: 5px 0 50px 0;
}
.content-text h6 span {
    font-weight: 600;
    border-bottom: 1px solid #5e5e5e;
}
.content-text p {
    font-family: 'Noto Serif JP', serif;
    font-size: 12px;
    line-height: 1.75em;
}
.content-text p .en {
    font-size: 10px;
}
.content-text .button a {
    display: block;
    width: 70%;
    height: 45px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin: 50px 0 0 0;
    padding: 13px 0 0 0;
    background: #5e5e5e;
    text-decoration: none;
    transition: .5s;
}
.content-text .button a:hover {
    opacity: .5;
}
.footer {
    margin: 100px 0 0 0;
    font-family: 'Noto Serif JP', serif;
    text-align: center;
}
.footer .access h4 {
    font-size: 15px;
    font-weight: 100;
}
.footer .access h5 {
    font-size: 12px;
    font-weight: 100;
}
.footer p {
    font-size: 10px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    letter-spacing: 0;
}
hr {
    width: 80%;
    margin: 50px auto;
    border: 1px solid #f5f5f0;
}