* {
    margin: 0;
    padding: 0;
}
.right-menu li {
    display: inline-block;
    margin: 30px 0 0 0 !important;
}
.right-menu li .fab {
    font-size: 18px;
    margin: 0 10px 0 0;
    cursor: pointer;
}
.navbar-brand img {
    width: 100px;
}
.navbar-brand {
    left: 50%;
    top: 25px;
    transform: translate(-50%);
    position: absolute;
}
.navbar {
    padding: 0 35px !important;
}
.navbar-toggler {
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    margin: 30px 0 0 0;
}
.navbar-toggler .fas {
    font-size: 30px;
    cursor: pointer;
}
.header {
    background: #f5f6fc;
    margin: 0 0 80px 0;
}
.banner-img {
    margin: 80px 115px;
    width: 60%;
}
.banner-img img {
    width: 100%;
    margin: 0 0 -80px 0;
}
.banner {
    position: relative;
}
.banner-title {
    position: absolute;
    left: 50%;
    top: 20%;
}
.banner-title h1 {
    font-size: 55px;
    background: rgba(0,0,0,0.75);
    color: #fff;
    line-height: 70px;
    padding: 0 10px 0 10px;
}


.fashion-trends {
    padding: 100px 0;
}
.fashion-box {
    margin: 80px 0;
}
.title-style h1 {
    padding: 40px 0;
}
.title-style {
    margin: 0 auto 80px;
    width: 80%;
    max-width: 700px;
    height: 120px;
    background: #fff;
    position: relative;
    box-shadow: 0 0 3px 0 rgba(0,0,50,0.4);
}
.title-style::after {
    content: '';
    width: 200px;
    height: 100px;
    background: #f992a6;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}
.title-style::before {
    content: '';
    width: 200px;
    height: 100px;
    background: #f992a6;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}
.trending-img {
    position: relative;
    margin: 0 0 15px 0;
}
.trending-img img {
    width: 100%;
}
.btn-buy {
    width: 150px;
    padding: 10px 0;
    outline: none !important;
    border: 0;
    border-radius: 2px;
    position: absolute;
    background: #fff;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    transition: .6s;
    opacity: 0;
    z-index: 1;
}
.trending-img:hover .btn-buy {
    transform: translate(-50%, 50%);
    bottom: 50%;
    opacity: 1;
}
.overlay {
    width: 100%;
    height:0;
    background: #333;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .5s;
}
.trending-img:hover .overlay {
    height: 100%;
    opacity: .5;
}


.offer {
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-position: center;
}
.row {
    margin: initial !important;
}
.subscribe {
    max-width: 500px;
    padding: 60px;
    background: #ffffff8c;
    margin: 80px 0 20px 0;
}
.subscribe a {
    width: 100px;
    display: block;
    color: #fff !important;
    background: #000;
    text-decoration: none !important;
    padding: 5px;
    text-align: center;
}
.offer img {
    width: 300px;
    height: 400px;
    margin: -100px;
    margin-top: 150px;
}


.fashion-blog {
    margin: 250px 0 150px 0;
}
.blog-img {
    margin: 50px 0 0 0;
    width: 300px;
    height: 300px;
    display: inline-block;
}
.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fashion-blog h5 {
    margin: 20px 0 0 0;
    font-weight: 100;
}
.fashion-brands {
    margin: 0 0 150px 0;
}
.brand-logo {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    margin: 50px auto 30px;
    box-shadow: 0 2px 40px 0 rgba(110,130,208,.18);
}
.brand-logo img {
    width: 100px;
    margin: 50px auto;
}
.fashion-brands p {
    margin: 30px 0 0 0;
    font-weight: 100;
}


.footer {
    margin: 150px 0 0 0;
    background: #f5f6fc;
}
.footer h5 {
    margin: 0 0 50px 0;
}
.footer h5::before {
    content: '';
    width: 70px;
    height: 3px;
    background: #4f74e8;
    top: 80px;
    position: absolute;
}
.payment,.insta-img,.app-download { 
    margin: 50px auto;
    width: 250px;
}
.payment img {
    width: 200px;
    cursor: pointer;
}
.insta-img img {
    width: 75px;
    height: 75px;
    padding: 5px;
    cursor: pointer;
    object-fit: cover;
}
.app-download img {
    width: 150px;
    margin: 0 0 10px 0; 
    cursor: pointer;
}
.footer-icons {
    text-align: right;
}
.footer-icons .fab {
    margin: 0 10px auto;
    font-size: 20px;
    cursor: pointer;
}


@media only screen and (max-width:900px) {
    .banner-img {
        margin: 40px auto;
        width: 80%;
    }
    .banner-title {
        top: 150px; 
        left: 50%;
        transform: translateX(-50%);
    }
    .banner-title h1 {
        font-size: 16px;
        padding: 5px;
        line-height: 20px;
    }
    .title-style h1 {
        font-size: 25px;
    } 
    .offer img {
        margin: 20px 0 0 0 !important;
    }
    .footer-icons {
        text-align: center;
    }
    .copyright {
        text-align: center;
    }
    .footer-icons .fab {
        margin: 0 10px 50px;
    }
}