/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/* font-family: 'Sawarabi Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap&subset=japanese');
/* 水色 #3fc7f8 灰色 #606363 薄青 #eaeff4 */

* {
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
    box-sizing: border-box;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border: 1px solid #000;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
/* js */

body {
    background: #fff;
    color: #000;
    letter-spacing: .1px;
}
.header {
  	display:flex;
    justify-content: flex-end;
    width: 100%;
    height: 80px;
    background: #fff;
    z-index: 1;
    position: fixed;
}
.logo img {
    width: 100px;
    top: 30px;
    left: 30px;
    position: fixed;
}
ul {
    list-style: none;
    top: 30px;
    position: relative;
}
ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}
ul li a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #000;
    padding: 5px 0.2px;
    transition: .5s;
    box-sizing: border-box;
}
ul li a:hover {
    opacity: .75;
    border-bottom: 2px solid #000;
}
.header .button-icon {
    width: 100px;
    text-align: center;
    background: #3fc7f8;
    padding: 17px 20px;
    transition: .5s;
}
.header .button-icon img {
    width: 20px;
}
.header .button-icon p {
    font-size: 10px;
    color: #fff;
    letter-spacing: -0.5px;
}
.header .button-icon-gray {
    width: 100px;
    text-align: center;
    background: #606363;
    padding: 17px 20px;
    transition: .5s;
}
.header .button-icon-gray img {
    width: 20px;
}
.header .button-icon-gray p {
    font-size: 10px;
    color: #fff;
    letter-spacing: -0.5px;
}
.header .button-icon:hover,
.header .button-icon-gray:hover {
    opacity: .5;
}
.container {
    background: #fff;
    top: 80px;
    position: relative;
}
.main {
    width: 1100px;
    height: 60vh;
    margin: 0 auto;
    background-image: url(../img/main1.jpg);
    background-position: top right;
    background-size: 970px;
    background-repeat: no-repeat;
}
.main .title {
    top: 200px;
    position: relative;
}
.main .title h1 {
    font-size: 28px;
    letter-spacing: 0.2em;
}
.main .title h4 {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1em;
}
.main .notice {
    width: 400px;
    background: #fff;
    padding: 20px 0 20px 0;
    top: 300px;
    position: relative;
}
.main .notice .news {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin: 0 0 20px 0;
}
.main .notice p {
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    line-height: 26px;
}
.main .notice h3{
    margin: 20px 0 0 0;
}
.main .notice h3 a {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #000;
}
.contents {
    width: 100%;
    margin: 150px auto;
}
.contents .content {
    background: #eaeff4;
}
.contents .content .inner-content-1 {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 70px 70px 30px 70px;
}
.contents .content .inner-content-2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 60%;
    margin: 0 auto;
    padding: 70px;
}
.contents .content .inner-content-1 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 75px 0 0;
}
.contents .content .inner-content-2 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 0 0 75px;
}
.contents .content .inner-content-1 .big-catch,
.contents .content .inner-content-2 .big-catch {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    line-height: 35px;
    color: #3fc7f8;
    margin: 0 0 25px 0;
}

.contents .content .inner-content-1 .middle-catch,
.contents .content .inner-content-2 .middle-catch {
    width: 250px;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: .1em;
    text-align: justify;
    margin: 0 0 30px 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #000;
}
.contents .content .inner-content-1 p,
.contents .content .inner-content-2 p {
    width: 350px;
    font-size: 13px;
    font-weight: 100;
    line-height: 25px;
    text-align: justify;
}
.footer {
    margin: 200px 0 25px 0;
    text-align: center;
}
.footer p {
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 0;
}