/* font-family: 'Noto Serif JP', serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.coral-back { background: coral; }
.cornflowerblue-back { background: cornflowerblue; }
.lightseagreen-back { background: lightseagreen; }
.gold-back { background: gold; }
.indianred-back { background: indianred; }

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a img {
    display: block;
    width: 30px;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
.single { 
    width: 100%;
}
.single .image{
    width: 100%;
    height: 100%;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    vertical-align: bottom;
}
.single .slick-prev,
.single .slick-next {
    width: 50px;
}
.single .product-name {
    font-size: 40px;
    font-family: 'Prata', serif;
    text-align: center;
    margin: 5px 0;
}
.single p {
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    color: #79726e;
    line-height: 23px;
    width: 250px;
    margin: 0 auto 20px;
}
.single .cart-icon {
    text-align: center;
    width: 250px;
    margin: 0 auto;
}
.single .cart-icon .fas {
    width: 50px;
    height: 50px;
    color: #ccc;
    padding: 15px 0 0 0;
    border: 1px solid #ff7f50;
    border-radius: 50%;
    transition: .5s;
}
.single .cart-icon .fas:hover {
    color: #fff;
    background: #ff7f50;
}
.slick-prev{
    left: 0%;
    z-index: 1;
}
.slick-next{
    left: 80%;
    z-index: 1;
}
/* js */

body {
    width: 100%;
    background: #eee;
}
.header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid rgb(196, 196, 196, .5);
    z-index: 2;
    position: fixed;
}
.header .logo a {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    top: 23px;
    left: 65px;
    position: absolute;
    z-index: 1;
}
.header .logo a span {
    color: #dfab00;
}
.header ul {
    list-style: none;
    top: 23px;
    right: 65px;
    position: fixed;
}
.header ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}
.header ul li a {
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    transition: .5s;
    box-sizing: border-box;
    transition: .5s;
}
.header ul li a:hover {
    color: lightseagreen;
}
.arrow::after {
    content: '>';
    color:#fff;
    left: 5px;
    position: relative;
}
.header ul li a .fab {
    font-size: 18px;
    margin: 0 0 0 -10px;
}
.main {
    width: 100%;
}
.sub-image {
    width: 100%;
    margin: 0 auto;
}
.sub-image .flex-column {
    display: flex;
}
.sub-image .flex-column .inner-flex-column {
    display: flex;
    flex: 1;
}
.sub-image .flex-column .inner-flex-column .flex-column-item {
    flex: 1;
    height: 85%;
    text-align: center;
}
.sub-image .flex-column .inner-flex-column .flex-column-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
.sub-image .flex-column .inner-flex-column .flex-column-item .row-item-50 {
    height: 50%;
}
.sub-image .flex-column .inner-flex-column .flex-column-item .row-item-50 img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    object-fit: cover;
}
.contents {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto 100px;
}
.contents .left-contents {
    width: 75%;
    margin: 0 auto;
}
.contents .left-contents .left-contents-item {
    display: inline-block;
    width: 40%;
    margin: 0 20px 75px;
    text-align: left;
}
.contents .left-contents .left-contents-title {
    font-size: 20px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    color: #000;
    text-align: center;
    margin: 0 auto 50px;
    right: 25px;
    position: relative;
}
.contents .left-contents .left-contents-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.contents .left-contents .left-contents-item h3 {
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
    font-weight: normal;
    text-align: justify;
    margin: 0 0 10px 0;
}
.contents .left-contents .left-contents-item h6 {
    font-size: 10px;
    font-weight: 100;
    margin: 0 0 5px 0;
}
.contents .left-contents .left-contents-item p {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
}
.contents .left-contents a .more-button {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-align: center;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    padding: 13px 0 0 0;
    border: 1px solid #000;
    transition: .5s;
}
.contents .left-contents a .more-button:hover {
    color: #fff;
    background: #000;
}
.contents .right-contents {
    width: 250px;
}
.contents .right-contents h3 {
    font-size: 15px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    color: #79726e;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #ccc;
}
.contents .right-contents h3::after {
    content: "";
    display: block;
    border-bottom: 2px solid #696969;
    width: 50px;
    top: 12px;
    position: relative;
}
.contents .right-contents .right-contents-item {
    background: #fff;
    margin: 0 0 10px 0;
    padding: 0 10px 10px;
}
.contents .right-contents .right-contents-item img {
    width: 100%;
    height: 125px;
    object-fit: cover;
}
.contents .right-contents .right-contents-item h4 {
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
    font-weight: normal;
    text-align: center;
    color: #000;
    margin: 10px 0;
}
.contents .right-contents .right-contents-item h6 {
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    color: #000;
}