* {
    margin: 0;
    padding: 0;
}
.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0,105,233,0.8),rgba(0,105,233,0.8)),url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}
.nav-bar {
    display: flex;
    height: 12%;
}
.navbar-left {
    flex-basis: 70%;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    box-sizing: border-box;
}
.navbar-inner {
    display: flex;
    align-items: center;
    padding: 45px 50px 10px 50px;
}
.navbar-inner ul {
    margin-left: 20px;
    z-index: 2;
}
.navbar-inner ul li {
    margin: 0 10px;
    display: inline-block;
}
.navbar-inner ul a {
    text-decoration: none;
    color: #fff;
}
.navbar-right { 
    flex-basis: 30%;
    background: #fff;
}
.navbar-right ul {
    float: right;
    padding: 35px 50px 10px 50px;
}
.navbar-right ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 40px;
}
.navbar-right ul li a {
    color: #000;
}
.content {
    display: flex;
    height: 88%;
}
.content-left {
    flex-basis: 70%;
    position: relative;
}
.content-left img {
    top: -10%;
    right: -15%;
    position: absolute;
    z-index: 1;
}
.content-right {
    flex-basis: 30%;
    position: relative;
    background: #fff;
}
.content-right img {
    top: 10%;
    left: 25%;
    position: absolute;
}
.upper-text {
    left: 15%;
    top: 20%;
    position: absolute;
    color: lightblue;
    opacity: .5;
}
.upper-text h1 {
    font-size: 150px;
    margin: 0 0 0 150px;
    line-height: 90px;
    font-style: italic;
}
.upper-text h2 {
    font-size: 90px;
}
.bottom-text {
    left: 55%;
    bottom: 12%;
    position: absolute;
    color: lightblue;
    opacity: .5;
}
.bottom-text h1 {
    font-size: 100px;
    margin: 0 0 0 100px;
    line-height: 50px;
}
.bottom-text h2 {
    font-size: 60px;
}
.bottom-text h3 {
    font-size: 40px;
    margin: 0 0 0 225px;
    line-height: 10px;
}
.product-details {
    bottom: 10%;
    left: 10%;
    position: absolute;
    margin: 0 0 20px 0;
}
.price-box {
    display: flex ;
    width: 170px;
    height: 150px;
    align-items: center;
    box-shadow: -40px 0 20px -40px rgba(189, 189, 189, 0.5),40px 0 20px -40px rgba(189, 189, 189, 0.5);
}
.price {
    flex-basis: 70%;
}
.price h2 {
    margin: 0 0 0 20px;
    color: #999;
    font-size: 22px;
}
.price h1 {
    margin: 0 0 10px 20px;
}
.price h3 {
    margin: 0 0 0 20px;
    color: #ccc;
}
.varient {
    flex-basis: 30%;
    text-align: center;
}
.varient div {
    width: 13px;
    height: 13px;
    margin: 5px auto;
}
.varient div:nth-child(1) {
    background: blue;
    transform: scale(1.2);
}
.varient div:nth-child(2) {
    background: red;
}
.varient div:nth-child(3) {
    background: lime;
}
.varient div:nth-child(4) {
    background: #999;
}
.varient div:nth-child(5) {
    background: #000;
}
.product-details p {
    text-align: right;
    color: #999;
    font-size: 13px;
}
.social-links {
    bottom: 120px;
    right: -110px;
    position: absolute;
    transform: rotate(-90deg);
}
.social-links ul li {
    list-style: none;
    margin: 20px 15px;
    display: inline-block;
}
.social-links ul li a {
    text-decoration: none;
    color: #999;
}