/* #ca3e5e */

/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* font-family: 'Bitter', serif; */
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
/* font-family: 'Pontano Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 12px;
    color: #ca3e5e;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border: 1px solid #ca3e5e;
    border-radius: 50%;
    background: #fff;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
.single { 
    width: 100%;
}
.single img{
    width: 100%;
    border-bottom: 2px solid #ca3e5e;
}
/* js */
body {
    width: 100%;
    border: 10px solid #ca3e5e;
}
.header {
    width: 70%;
    margin: 0 auto;
}
.header .cart-button {
    text-align: center;
    padding: 20px;
    background: #ca3e5e;
    position: fixed;
    top: 0;
    right: 0;
}
.header .cart-button a {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 1.5px;
}
.header .cart-button .fas {
    font-size: 20px;
}
.header .logo {
    width: 220px;
    margin: 50px auto;
}
.header .logo img {
    width: 100%;
}
.header ul {
    display: flex;
    justify-content: center;
}
.header ul li {
    list-style: none;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #ca3e5e;
    margin: 0 15px 30px;
    padding: 10px 15px;
    border-bottom: 1px solid #ca3e5e;
    transition: .5s;
}
.header ul li:hover {
    background: #eee;
}
.header ul li a {
    color: #ca3e5e;
}
.header ul .list-line1 {
    margin: 0 1px 30px;
    border-top: 1px solid #ca3e5e;
    border-left: 1px solid #ca3e5e;
}
.header ul .list-line1::after {
    content: '＞';
}
.header ul .list-line2 {
    margin: 0 1px 30px;
    border-top: 1px solid #ca3e5e;
    border-bottom: 1px dotted #ca3e5e;
}
.header ul .list-line3 {
    margin: 0 1px 30px;
    border-top: 1px solid #ca3e5e;
    border-right: 1px solid #ca3e5e;
    border-bottom: 1px dotted #ca3e5e;
}
.main {
    width: 70%;
    margin: 0 auto 75px;
}
.contents {
    width: 70%;
    margin: 0 auto 75px;
}
.contents .contents-title-set {
    display: flex;
    justify-content: space-between;
}
.contents .contents-title-set .contents-title {
    font-size: 17px;
    font-family: 'Bitter', serif;
    text-align: center;
    letter-spacing: 1.5px;
    color: #ca3e5e;
    width: 210px;
    margin: 0 auto;
    padding: 10px 0;
    border-top: 1px solid #ca3e5e;
    border-bottom: 3px double #ca3e5e;
}
.contents .contents-title-set .contents-link a {
    font-size: 14px;
    font-family: 'Bitter', serif;
    color: #ca3e5e;
    padding: 5px 15px;
    border: 1px solid #ca3e5e;
    top: 10px;
    position: relative;
    transition: .5s;
}
.contents .contents-title-set .contents-link a:hover {
    color: #fff;
    background: #ca3e5e;
}
.contents .contents-item-set {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}
.contents .contents-item-set .content-item {
    text-align: center;
    margin: 0 25px;
}
.contents .contents-item-set .content-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin: 0 0 5px;
    border-bottom: 1px solid #ca3e5e;
}
.contents .contents-item-set .content-item .item-name {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ca3e5e;
    margin: 0 0 5px;
}
.contents .contents-item-set .content-item .exhibitor-name {
    font-size: 14px;
    font-family: 'Bitter', serif;
    color: #696969;
    margin: 0 0 10px;
}
.contents .contents-item-set .content-item .exhibitor-name::before {
    content: 'by ';
}
.contents .contents-item-set .content-item .item-price {
    font-size: 15px;
    font-family: 'Pontano Sans', sans-serif;
    color: #696969;
    margin: 0 0 15px;
}
.contents .contents-item-set .content-item .item-price span {
    font-size: 13px;
}
.contents .contents-item-set .content-item a .buy-button {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 1px;
    padding: 10px;
    background: #ca3e5e;
    transition: .5s;
}
.contents .contents-item-set .content-item a .buy-button:hover {
    background: #eee;
}
.contents .contact {
    display: flex;
    margin: 0 0 100px;
}
.contents .contact .contact-title {
    flex: 1;
    font-size: 17px;
    font-family: 'Bitter', serif;
    color: #ca3e5e;
    text-align: center;
    letter-spacing: 1px;
    padding: 20px;
    border: 1px solid #ca3e5e;
    transition: .5s;
}
.contents .contact .contact-title:hover {
    color: #fff;
    background: #ca3e5e;
}
.contents .contact .contact-sns {
    flex: 2;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-family: 'Bitter', serif;
    color: #ca3e5e;
    letter-spacing: 1px;
    padding: 20px;
    border-top: 1px solid #ca3e5e;
    border-right: 1px solid #ca3e5e;
    border-bottom: 1px solid #ca3e5e;
}
.contents .contact .contact-sns a {
    color: #ca3e5e;
    width: 150px;
    margin: 0 50px;
    padding: 0 100px 17px;
    border-bottom: 3px solid #eee;
}
.contents .contact .contact-sns .facebook {
    border-bottom: 3px solid #3B5998;
}
.contents .contact .contact-sns .twitter {
    border-bottom: 3px solid #1DA1F2;
}
.footer {
    width: 100%;
    margin: 0 auto;
}
.footer .terms {
    display: flex;
    justify-content: center;
}
.footer .terms a {
    font-size: 13px;
    font-weight: 100;
    color: #ca3e5e;
    margin: 0 15px 50px;
    border-bottom: 1px dotted #ca3e5e;
}
.footer p {
    font-size: 13px;
    font-family: 'Bitter', serif;
    text-align: center;
    letter-spacing: 1px;
    color: #ca3e5e;
}